In [593]:
import pandas as pd

In [594]:
# csv 폴더에 있는 uriage.csv 파일을 로드
uriage = pd.read_csv('../../csv/uriage.csv')

In [595]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [596]:
uriage.describe()

        item_price
count  2612.000000
mean   1296.401225
std     717.955460
min     100.000000
25%     700.000000
50%    1300.000000
75%    1900.000000
max    2600.000000

In [597]:
# 상위의 데이터 5개 확인
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [598]:
# item_name 컬럼의 데이터에서 문제
# 1. 대소문자 통일 - upper(), lower() 함수 사용
# 2. 문자열 사이의 공백 제거 - replace() 함수 사용

In [599]:
# uriage 데이터프레임에서 item_name 컬럼 데이터의 영어를 모두 대문자로 변경
# uriage.loc[ : , 'item_name']
uriage['item_name']

0         상품A
1       상 품 S
2       상 품 a
3         상품Z
4         상품a
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [600]:
uriage['item_name'].upper
# Series에는 upper() 함수 X => 에러 발생

AttributeError: 'Series' object has no attribute 'upper'

In [601]:
# uriage.loc[ : , 'item_name']
type(uriage['item_name'][2])   
type(uriage.loc[2, 'item_name'])        # str 출력

str

In [602]:
uriage.loc[2, 'item_name'].upper()

'상 품 A'

1. for 반복문

In [603]:
# 반복문 이용해 item_name 컬럼의 데이터들을 모두 대문자로 변경
# 비어있는 리스트 하나 생성
# 반복실행하면서 대문자로 변환된 값을 비어있는 리스트에 추가
item_names = []
# for문
for i in range(len(uriage)):
    data = uriage.loc[i, 'item_name'].upper()
    item_names.append(data)
# uriage.item_name = item_names     item_names를 uriage의 item_name에 대입

print(len(item_names))
print(item_names)

2999

In [604]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05     상 품 S         NaN           김우찬
2     2019-05-11 19:42     상 품 a         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

2. while 반복문

In [605]:
item_names = []
# while문
# 초기값 (시작값=0)
i = 0
# while 조건식 (i<3000)
while i<2999:
    data = uriage.loc[i, 'item_name'].upper()
    item_names.append(data)
    i += 1
    
print(len(item_names))
print(item_names)

2999

In [606]:
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

3. while True: 반복문

In [607]:
item_names = []
i = 0
while True:
    data = uriage.loc[i, 'item_name'].upper()
    item_names.append(data)
    
    if i == len(uriage) - 1:
        break
    i += 1
print(len(item_names))
print(item_names)

2999

In [608]:
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

4. try ~ except문

In [609]:
# 특정 코드를 실행하고 만약 에러 발생시 예외 처리
# try ~ except 문
item_names = []
i = 0

while True:
    # 코드 실행을 시도
    try:
        data = uriage.loc[i, 'item_name'].upper()
        item_names.append(data)
        i += 1
        # i가 2998까지는 정상 작동
        # i가 2999가 되면 에러 발생
    except:
        # 위의 try code 에러 발생 시 실행 부분
        break
print(len(item_names))
print(item_names)

2999

In [610]:
df = uriage.copy()

In [611]:
df.item_name = item_names

In [612]:
df.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [613]:
# item_name의 데이터들에서 문자열 사이에 존재하는 공백 제거
# Series 안의 replace() 함수는 검색을 하는 기준이 원소 하나씩을 검색하여
# 같은 데이터를 변환해주는 기능
df['item_name'].replace("상품A", "A")

0           A
1       상 품 S
2       상 품 A
3         상품Z
4           A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [614]:
df.loc[1, 'item_name'] = df.loc[1, 'item_name'].replace(" ", "")

In [615]:
df.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05       상품S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [616]:
for i in range(len(df)):
    df.loc[i, 'item_name'] = df.loc[i, 'item_name'].replace(" ", "")

In [617]:
# df의 item_name 컬럼의 데이터들의 빈도수 확인
# 데이터(값) -> value
# 개수 -> count
# value_counts()
df['item_name'].value_counts()

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품X    116
상품J    116
상품I    114
상품B    113
상품M    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
Name: count, dtype: int64

In [618]:
# 원본 데이터 uriage의 item_name 컬럼의 데이터 빈도수 확인
uriage['item_name'].value_counts()

item_name
상품A      133
상품R      133
상품S      133
상품P      132
상품C      130
        ...
상 품I       1
 상품 W      1
 상품 X      1
상품 M       1
상 품P       1
Name: count, Length: 99, dtype: int64

In [619]:
# 특정 컬럼의 데이터들 중복을 제거하고 출력하는 함수
# 유일한, 희소성있는
# unique() 함수
df['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [620]:
uriage['item_name'].unique()

array(['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O',
       '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g',
       '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K',
       '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M',
       '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q',
       ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N',
       '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F',
       '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C',
       '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s',
       '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S',
       '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e',
       '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P'], dtype=object)

In [621]:
set(df['item_name'])
# 집합 형태의 데이터로 변환
# 중복데이터 제거

{'상품A',
 '상품B',
 '상품C',
 '상품D',
 '상품E',
 '상품F',
 '상품G',
 '상품H',
 '상품I',
 '상품J',
 '상품K',
 '상품L',
 '상품M',
 '상품N',
 '상품O',
 '상품P',
 '상품Q',
 '상품R',
 '상품S',
 '상품T',
 '상품U',
 '상품V',
 '상품W',
 '상품X',
 '상품Y',
 '상품Z'}

In [622]:
set(uriage['item_name'])

{' 상 품 n',
 ' 상품 E',
 ' 상품 M',
 ' 상품 P',
 ' 상품 S',
 ' 상품 W',
 ' 상품 X',
 ' 상품W',
 '상  품O',
 '상  품Q',
 '상  품T',
 '상  품V',
 '상 품 S',
 '상 품 a',
 '상 품 q',
 '상 품 s',
 '상 품A',
 '상 품C',
 '상 품D',
 '상 품E',
 '상 품F',
 '상 품G',
 '상 품H',
 '상 품I',
 '상 품K',
 '상 품M',
 '상 품N',
 '상 품O',
 '상 품P',
 '상 품T',
 '상 품U',
 '상 품V',
 '상 품X',
 '상 품Y',
 '상 품s',
 '상품 A',
 '상품 B',
 '상품 E',
 '상품 F',
 '상품 H',
 '상품 I',
 '상품 J',
 '상품 K',
 '상품 M',
 '상품 O',
 '상품 Q',
 '상품 R',
 '상품 S',
 '상품 T',
 '상품 V',
 '상품 X',
 '상품 a',
 '상품 g',
 '상품 o',
 '상품 v',
 '상품 w',
 '상품A',
 '상품B',
 '상품C',
 '상품D',
 '상품E',
 '상품F',
 '상품G',
 '상품H',
 '상품I',
 '상품J',
 '상품K',
 '상품L',
 '상품M',
 '상품N',
 '상품O',
 '상품P',
 '상품Q',
 '상품R',
 '상품S',
 '상품T',
 '상품U',
 '상품V',
 '상품W',
 '상품X',
 '상품Y',
 '상품Z',
 '상품a',
 '상품c',
 '상품d',
 '상품e',
 '상품g',
 '상품i',
 '상품j',
 '상품k',
 '상품l',
 '상품o',
 '상품p',
 '상품r',
 '상품s',
 '상품t',
 '상품v',
 '상품x',
 '상품y'}

In [623]:
# Series 데이터에서 str(문자열) 메서드(함수)에 접근하는 방법
uriage['item_name'].str.upper().replace(' ', '')
test_series = uriage['item_name'].str.upper()
# test_series는 타입이 Series
# Series 안에 있는 replace() 함수 호출 -> 공백 제거 안됨
test_series.replace(' ', '')

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [624]:
# Series를 다시 str(문자) 형태로 바꾼 다음 replace() 함수 사용
test_series2 = uriage['item_name'].str.upper()
test_series2.str.replace(' ', '')

# 결론
uriage['item_name'].str.upper().str.replace(' ', '')

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [625]:
uriage['item_name'] = uriage['item_name'].str.upper()               # 대문자 변환
uriage['item_name'] = uriage['item_name'].str.replace(' ', '')      # 공백 제거

In [626]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [627]:
# 데이터프레임에서 특정 컬럼의 데이터를
# 대문자로 변환하고 문자열 사이에 존재하는 공백을 모두 제거해서
# 데이터를 변환해주는 함수 생성

# 매개변수 -> 함수 안에서만 사용 가능한 변수 (입력 데이터)
# 2개 -> 데이터프레임, 특정 컬럼
def test_func(_df, _col):
    # _df : 데이터프레임
    # _col : 데이터를 변경할 컬럼의 이름
    # _df의 복사본 생성
    df = _df.copy()
    df[_col] = df[_col].str.lower().str.replace(' ', '')
    return df

In [628]:

test_func(uriage.copy(), 'item_name')
# test_func(_df, _col) 호출하는 과정
# _df = df 대입, _col = 'item_name' 대입
#  -> _df 수정시 df도 수정됨 (_df = df 에서 같은 위치라고 여기기 때문)

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품a       100.0           김가온
1     2019-07-13 13:05       상품s         NaN           김우찬
2     2019-05-11 19:42       상품a         NaN           김유찬
3     2019-02-12 23:40       상품z      2600.0           김재현
4      2019-04-22 3:09       상품a         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품y      2500.0           김정민
2995   2019-06-22 4:03       상품m      1300.0           김재원
2996  2019-03-29 11:14       상품q         NaN           김지율
2997  2019-07-14 12:56       상품h         NaN           김승주
2998   2019-07-21 0:31       상품d       400.0           정준기

[2999 rows x 4 columns]

In [629]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [630]:
# 결측치 개수 확인
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [631]:
# uriage 데이터프레임에서 item_name이 '상품A'인 데이터 롹인
flag = uriage['item_name'] == '상품A'
uriage.loc[ flag, ]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
2     2019-05-11 19:42       상품A         NaN           김유찬
4      2019-04-22 3:09       상품A         NaN           김강현
6     2019-05-18 19:16       상품A         NaN           김재준
9     2019-01-28 10:47       상품A       100.0           김태윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[139 rows x 4 columns]

In [632]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [633]:
# item_name이 '상품A'이고, => flag
# item_price가 결측치가 아닌 데이터 확인
    # 데이터프레임에서 item_price만 추출 -> uriage['item_price']
    # 결측치인가 아닌가 -> isna() 함수
    # isna()는 결측치가 True
    # 부정처리 (-, ~) 
~(uriage['item_price'].isna())
# 결측치인 조건식 -> 추후 부정하여 사용 (~flag_null)
flag_null = uriage['item_price'].isna()

uriage.loc[flag & ~flag_null, ]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[117 rows x 4 columns]

In [634]:
# 위 조건에서 item_price 컬럼의 데이터 개수 확인
uriage.loc[flag & ~flag_null, 'item_price'].value_counts()

item_price
100.0    117
Name: count, dtype: int64

In [635]:
df2 = uriage.copy()

In [636]:
# 반복 실행할 코드 작성
# df2의 item_name이 '상품A'이고, item_price가 결측치가 아닌 데이터에서
# item_price의 평균값을 구한다

flag_null = df2['item_price'].isna()        # item_price가 결측치인 조건
flag = df2['item_name'] == '상품A'          # item_name이 '상품A'인 조건

mean_price = df2.loc[
    flag & ~flag_null,
    'item_price'            # 컬럼의 조건이 문자 -> Series 형태 반환
    # 'item_price' 대신 ['item_price'] 사용 시 -> DataFrame 형태 반환
].mean()

mean_price

np.float64(100.0)

In [637]:
# mean_price를 item_name이 '상품A'이고, itme_price가 결측치인 데이터의
# item_price에 대입
df2.loc[flag & flag_null, 'item_price'] =\
    df2.loc[flag & flag_null, 'item_price'].fillna(mean_price)
# df2.loc[flag & flag_null, 'item_price'] = mean_price     => 위의 두줄과 같은 결과

In [638]:
# 결측치가 잘 채워졌나?
# item_name이 '상품A'이고, item_price가 결측치인 데이터 확인
df2.loc[flag & flag_null, ]

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A       100.0           김유찬
4      2019-04-22 3:09       상품A       100.0           김강현
6     2019-05-18 19:16       상품A       100.0           김재준
14    2019-06-11 12:57       상품A       100.0           김재호
300   2019-04-06 11:06       상품A       100.0           김태인
361    2019-01-21 3:33       상품A       100.0           김진우
667   2019-03-16 17:23       상품A       100.0           김주원
838    2019-06-24 5:06       상품A       100.0           김시호
844    2019-03-15 9:14       상품A       100.0           김강현
957   2019-07-19 14:12       상품A       100.0           김서윤
1260  2019-01-15 22:59       상품A       100.0           김하진
1394  2019-07-07 21:49       상품A       100.0           김은우
1474   2019-04-11 2:22       상품A       100.0           김선우
1892   2019-07-31 1:32       상품A       100.0           김윤찬
1937   2019-02-13 7:28       상품A       100.0           김시환
1977   2019-02-28 4:11       상품A       100.0           김서준
2063  2019-05-25 12:51       상품A       100.0           김재민
2278   2019-07-14 3:39       상품A       100.0           김시우
2636  2019-03-09 14:20       상품A       100.0           김우찬
2669  2019-03-05 20:21       상품A       100.0           김주혁
2732  2019-01-28 22:13       상품A       100.0           김윤호
2821  2019-06-21 11:09       상품A       100.0           김승훈

In [639]:
# 반복 실행할 코드 작성
# df2의 item_name이 '상품B'이고, item_price가 결측치가 아닌 데이터에서
# item_price의 평균값을 구한다

flag_null = df2['item_price'].isna()        # item_price가 결측치인 조건
flag = df2['item_name'] == '상품B'          # item_name이 '상품A'인 조건

mean_price = df2.loc[
    flag & ~flag_null,
    'item_price'            # 컬럼의 조건이 문자 -> Series 형태 반환
    # 'item_price' 대신 ['item_price'] 사용 시 -> DataFrame 형태 반환
].mean()

mean_price

np.float64(200.0)

In [640]:
# mean_price를 item_name이 '상품A'이고, itme_price가 결측치인 데이터의
# item_price에 대입

df2.loc[flag & flag_null, 'item_price'] = mean_price

In [641]:
df2.loc[flag & flag_null, ]

         purchase_date item_name  item_price customer_name
101   2019-04-15 16:44       상품B       200.0           김지호
241    2019-07-27 9:00       상품B       200.0           김현수
457   2019-02-02 14:40       상품B       200.0           김예준
585   2019-04-25 19:50       상품B       200.0           김승윤
799    2019-04-07 7:50       상품B       200.0           김우진
983   2019-01-30 17:24       상품B       200.0           김재윤
1143  2019-02-25 17:44       상품B       200.0           김승주
1154  2019-04-17 18:30       상품B       200.0           김지운
1654   2019-04-15 1:41       상품B       200.0           김민호
1988  2019-05-21 11:17       상품B       200.0           김태우
2070  2019-04-16 17:16       상품B       200.0           김선우
2195   2019-01-20 5:58       상품B       200.0           김성현
2359  2019-01-06 19:25       상품B       200.0           김승원
2398  2019-07-30 17:38       상품B       200.0           김상민
2755  2019-01-29 15:29       상품B       200.0           김시완
2759  2019-01-23 15:23       상품B       200.0           김승호
2882  2019-04-18 16:44       상품B       200.0           김유빈
2922   2019-04-11 4:02       상품B       200.0           김찬영

#### item_name의 유니크한 데이터의 목록 추출
1. unique()함수 사용 **
2. set() 사용 -> list로 변경 후 사용
3. value_counts() 사용

In [642]:
# item_name의 유니크한 데이터의 목록: unique()함수 사용
df2['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [643]:
list(set(df2['item_name']))

['상품J',
 '상품N',
 '상품X',
 '상품F',
 '상품K',
 '상품P',
 '상품S',
 '상품B',
 '상품A',
 '상품I',
 '상품R',
 '상품V',
 '상품H',
 '상품T',
 '상품U',
 '상품E',
 '상품M',
 '상품L',
 '상품Y',
 '상품Z',
 '상품G',
 '상품O',
 '상품C',
 '상품Q',
 '상품D',
 '상품W']

In [644]:
# value_counts()함수 이용해 중복 없이 item_name 값들 추출
df2['item_name'].value_counts().index[0]

'상품S'

In [645]:
# item_name 데이터 추출
unique_data = []
for item in df2['item_name']:
    # print(i)
    # item이 unique_data에 포함되어 있지 않다면
    if item not in unique_data:
        unique_data.append(item)
unique_data

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [646]:
# 반복문을 이용해 데이터프레임의 item_price 결측치 채우기
# 반복 횟수: item_name의 유니크한 데이터 개수만큼
item_list = df2['item_name'].unique()

# item_price가 결측치인 조건 생성
flag_null = df2['item_price'].isna()

# item_list를 이용해 반복문 실행
for item in item_list:
    # item에는 item_list의 원소가 하나씩 대입
    # print(item)
    # 조건식 생성: df2에서 item_name이 item과 같다
    flag = df2['item_name'] == item
    # flag와 flag_null의 부정이 모두 만족하는 경우의 item_price의 평균
    mean_price = df2.loc[flag & ~flag_null, 'item_price'].mean()
    # flag와 flag_null을 모두 만족하는 경우의
    # item_price에 mean_price를 대입
    df2.loc[flag & flag_null, 'item_price'] = mean_price

In [647]:
# 반복문 결과 확인
# 결측치 개수가 0이 되었나?
df2.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [648]:
# item_name을 기준으로 그룹화, 그룹화 연산 item_price의 평균
df2.groupby('item_name')['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64

In [649]:
uriage.groupby('item_name')['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64

In [650]:
uriage.sort_values(['item_name', 'item_price'], inplace=True)

In [651]:
uriage

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2787  2019-04-29 18:03       상품Y         NaN           정도형
2839  2019-02-21 10:34       상품Y         NaN           김예찬
2880   2019-04-22 0:36       상품Y         NaN           김동욱
2881  2019-04-30 14:21       상품Y         NaN           김하준
3     2019-02-12 23:40       상품Z      2600.0           김재현

[2999 rows x 4 columns]

In [652]:
uriage.loc[
    uriage['item_name'] == '상품B',
]

         purchase_date item_name  item_price customer_name
42     2019-07-29 0:17       상품B       200.0           김지원
46     2019-02-14 3:26       상품B       200.0           김유찬
194    2019-03-03 2:06       상품B       200.0           김정원
212   2019-07-28 20:12       상품B       200.0           김건희
228   2019-03-16 22:28       상품B       200.0           김성민
...                ...       ...         ...           ...
2398  2019-07-30 17:38       상품B         NaN           김상민
2755  2019-01-29 15:29       상품B         NaN           김시완
2759  2019-01-23 15:23       상품B         NaN           김승호
2882  2019-04-18 16:44       상품B         NaN           김유빈
2922   2019-04-11 4:02       상품B         NaN           김찬영

[113 rows x 4 columns]

In [653]:
uriage['item_price'] = uriage['item_price'].fillna(method='ffill')

C:\Users\toqha\AppData\Local\Temp\ipykernel_12652\1342502391.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  uriage['item_price'] = uriage['item_price'].fillna(method='ffill')

In [654]:
uriage.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [655]:
uriage.groupby('item_name')['item_price'].mean()

item_name
상품A     100.0
상품B     200.0
상품C     300.0
상품D     400.0
상품E     500.0
상품F     600.0
상품G     700.0
상품H     800.0
상품I     900.0
상품J    1000.0
상품K    1100.0
상품L    1200.0
상품M    1300.0
상품N    1400.0
상품O    1500.0
상품P    1600.0
상품Q    1700.0
상품R    1800.0
상품S    1900.0
상품T    2000.0
상품U    2100.0
상품V    2200.0
상품W    2300.0
상품X    2400.0
상품Y    2500.0
상품Z    2600.0
Name: item_price, dtype: float64