### <class 선언>
- class라는 키워드 이용하여 선언
- class의 이름은 일반적으로 단어 앞글자는 대문자로 표기

### <class 생성>
- 선언된 class를 변수에 저장하는 과정
- 선언된 class를 여러 개의 변수에서 저장하여 따로 관리가 가능

### <class 내부의 변수, 함수를 호출>
- 생성된 class(변수) 안에( . ) 변수와 함수를 호출

In [6]:
# 가장 기본적인 class 선언
class Test:

    # 생성자 함수(초기화 함수): 매개변수 self는 필수로 입력
        # claas가 생성될 때 최초로 한번만 실행되는 함수
        # 따로 호출할 필요X
    def __init__(self, input_a, input_b):
        # 총 매개변수는 3개
        # class를 생성할 때 필요한 인자값은 2개
        # self -> class가 생성되는 위치(주솟값)가 자동으로 입력
        # class 내부에서 사용할 변수를 생성하는 함수
        # class가 생성된 위치(self) 안에(.) 변수(a, b)를 생성
        self.a = input_a
        self.b = input_b

    # 클래스 내부에서 생성되는 함수는 일반적으로 self 매개변수 이용
    def add_value(self):
        result = self.a + self.b
        return result

In [7]:
# class 생성
class_1 = Test('팥', '붕어빵')

In [8]:
class_2 = Test('슈크림', '붕어빵')

In [10]:
# class 안에 존재하는 변수 호출

# class_1 안에(.) a를 호출
print(class_1.a)
print(class_2.a)

팥
슈크림

In [12]:
print(class_1)

<__main__.Test object at 0x000001DD0CCB0910>

In [13]:
print(class_2)

<__main__.Test object at 0x000001DD0B8FAD90>

In [16]:
print(class_1.add_value())
print(class_2.add_value())

팥붕어빵
슈크림붕어빵

In [18]:
# 계산기 class
class Calcurate:
    # 생성자 함수에서 데이터 2개 생성
    def __init__(self, input_a, input_b):
        self.a = input_a
        self.b = input_b
    
    # self.a와 self.b를 더해주는 함수 생성
    def add(self):
        result = self.a + self.b
        # self.a와 self.b 데이터 변화는 X
        return result
    
    # self.a와 self.b를 빼주는 함수 생성
    def sub(self):
        result = self.a - self.b
        return result
    
    # self.a와 self.b를 곱해주는 함수 생성
    def mul(self):
        result = self.a * self.b
        return result
    
    # self.a에서 self.b로 나눠주는 함수 생성
    def div(self):
        result = self.a / self.b
        return result

In [19]:
# class 생성
cal_1 = Calcurate(20, 4)
cal_2 = Calcurate(40, 5)

In [20]:
# cal_1에는 a변수와 b변수 4개의 함수가 존재
print(cal_1.add())
print(cal_2.add())

24
45

In [24]:
print(cal_1.sub())
print(cal_2.sub())

16
35

In [25]:
print(cal_1.mul())
print(cal_2.mul())

80
200

In [26]:
print(cal_1.div())
print(cal_2.div())

5.0
8.0

In [ ]:
# 클래스 변수가 존재하는 클래스 선언
# 클래스 변수: 같은 클래스끼리 서로 공유하는 변수
class Test2:
    cnt = 0     # 해당 클래스를 만든 수
    user_list = []
    def __init__(self, _name):
        # 생성자 함수
        self.name = _name
        # 클래스 변수인 cnt에 1을 증가시킴
        # self.cnt += 1 => cnt값 증가X 
        Test2.cnt += 1
        Test2.user_list.append(_name)    # 전달받은 _name을 user_list 리스트에 추가

In [31]:
user_1 = Test2('kim')

In [32]:
user_1.cnt

1

In [33]:
user_1.user_list

['kim']

In [34]:
user_2 = Test2('Park')

In [35]:
user_2.cnt

2

In [36]:
user_2.user_list

['kim', 'Park']

In [ ]:
user_1.cnt      # 재확인

2

### <은행 계좌 class 생성>
- 클래스 변수 생성
    - total_cost = 0, user_cnt = 0

- 생성자 함수 (생성된 클래스에서 독립적으로 가지고 있는 변수 생성)
    - name [str]
    - birth [str]
    - cost [int] -> 현재 잔액, 기본값 0
    - log [list] -> 매개변수로 생성하지 않고, 변수로만 생성(self.log) : 빈 리스트로 대입

- 함수 생성
    - 입/출금
        - 매개변수 2개
            - _type : 입금(1) / 출금(2)
            - _cost
        - _type == 1 : self.cost를 _cost만큼 증가시키고, total_cost도 _cost만큼 증가
        - _type == 2 : self.cost를 _cost만큼 감소시키고, total_cost도 _cost만큼 감소
        - log에 [_type, _cost, self.cost] 추가
    - 로그를 출력하는 함수
        - 매개변수 X
        - self.log 출력

In [ ]:
class Bank:
    # 클래스 변수
    total_cost = 0
    user_cnt = 0

    # 생성자 함수
    # 네 개의 변수, 세 개는 생성 시 받아오고, 하나는 빈 리스트 형태
    def __init__(self, _name, _birth, _cost = 0):       # _cost의 기본값 = 0
        self.name = _name
        self.birth = _birth
        self.cost = _cost
        self.log = []
        Bank.user_cnt += 1

    # 입출금 함수
    def change_cost(self, _type, _cost):
        if _type == 1:                      # _type이 1인 경우 => 입금
            self.cost += _cost              # self.cost를 _cost만큼 증가시킴
            Bank.total_cost += _cost        # total_cost도 _cost만큼 증가시킴
        elif _type == 2:                    # _type이 2인 경우 => 출금
            self.cost -= _cost
            Bank.total_cost -= _cost
        else:
            return "_type의 값이 잘못되었습니다."
        # log에 1차원 데이터 추가
        self.log.append( [_type, _cost, self.cost] )

        # f문자열 
        return f"현재 잔액은 {self.cost}원 입니다."
    

    # 로그 출력 함수
    def view_log(self):

        # print(self.log)
        for i in self.log:
            print(i)

In [41]:
bank1 = Bank('kim', '950101')

In [42]:
bank2 = Bank('Park', '901010', 100000)

In [43]:
# 입금
bank1.change_cost(1, 10000)

'현재 잔액은 10000원 입니다.'

In [44]:
# 출금
bank1.change_cost(2, 5000)

'현재 잔액은 5000원 입니다.'

In [45]:
bank2.change_cost(1, 50000)

'현재 잔액은 150000원 입니다.'

In [46]:
bank1.view_log()

[1, 10000, 10000]
[2, 5000, 5000]

In [47]:
bank2.view_log()

[1, 50000, 150000]