In [1]:
def func_1():
    print('Hello')

In [2]:
def func_2():
    return 'Hello'

In [3]:
func_1()

Hello

In [4]:
func_2()

'Hello'

In [5]:
a=func_1()

Hello

In [6]:
b=func_2()

In [7]:
print(a)
print(b)

None
Hello

In [8]:
def func_3(x,y):
    result = x * y
    return result

In [9]:
func_3_res = func_3(10,3)

In [10]:
print(func_3_res)

30

In [11]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [13]:
x, y, z=10, 'A', True
print(x)
print(y)
print(z)

10
A
True

In [14]:
def func_4(x, y):
    result = x + y
    result2 = x - y
    return result, result2

In [15]:
func_4_res = func_4(5,2)

In [ ]:
print(func_4_res)

(7, 3)

In [17]:
res1, res2=func_4(3,1)

In [18]:
print(res1)
print(res2)

4
2

In [19]:
def func_5(x):
    result = x*2
    return result

In [20]:
print('Hello', 'world', 'abc', end='\t')
print(12345)

Hello world abc	12345

In [23]:
def func_6(*args):
    print(args)
    print(type(args))

In [24]:
func_6(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [26]:
def func_7(x,y=2):
    result = x**y
    return result

In [27]:
print(func_7(10))
print(func_7(5,3))

100
125

In [28]:
def func_9(*args, data):
    print(args)
    print(data)

In [29]:
func_9(1,2,3,4,5, data=10)

(1, 2, 3, 4, 5)
10

In [30]:
def func_10(data, *args):
    print(data)
    print(args)

In [31]:
func_10(1,2,3,4,5)

1
(2, 3, 4, 5)

In [42]:
def func_11(*_datas, _type='max'):
    if _type=='max':
        result = _datas[0]
        for i in range(1, len(_datas), 1):
            if result < _datas[i]:
                result = _datas[i]
    elif _type == 'min':
        result = _datas[0]
        for i in range(1, len(_datas), 1):
            if result>_datas[i]:
                result = _datas[i]
    elif _type=='mean':
        result=0
        for i in _datas:
            result += i
        result /= len(_datas)
    else:
        print('_type 매개변수에는 max, min, mean만 있어요')
    return result

In [43]:
func_11(1,2,3,4,5)

5

In [44]:
func_11(1,2,3,4,5, _type='min')

1

In [45]:
func_11(1,2,3,4,5, _type='mean')

3.0