### <절대 모멘텀>
1. 파생변수 'STD-YM' 생성 -> 인덱스에서 년-월을 추출해 대입
2. 'STD-YM'별 마지막 날의 데이터들을 month_last_df에 추가(단순 행결합)
3. 전월의 수정종가 값을 가진 파생변수 생성
4. 전년도의 수정종가 값을 가진 파생변수 생성
5. 전월의 데이터와 전년도의 데이터를 이용해 거래 내역 생성
6. 수익률 계산

In [139]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings

In [140]:
# warning 메시지 출력 필터링
warnings.filterwarnings('ignore')

In [141]:
df = pd.read_csv('../../csv/AMZN.csv')

In [142]:
if 'Date' in df.columns:
    df.set_index('Date', inplace=True)

In [143]:
# index를 시계열로 변환
df.index = pd.to_datetime(df.index)

In [144]:
df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [145]:
# df에 STD-YM 컬럼 생성하여 인덱스에서 년도-월 데이터 추출하여 대입
df['STD-YM'] = df.index.strftime('%Y-%m')

In [146]:
df.head(2)

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
1997-05-15,2.43750,2.500000,1.927083,1.958333,1.958333,72156000,1997-05
1997-05-16,1.96875,1.979167,1.708333,1.729167,1.729167,14700000,1997-05

In [147]:
# 빈 데이터프레임에 월말의 데이터들을 행결합
# STD-YM에서 다음 행과 현재 행이 다르다면
flag = df['STD-YM'] != df['STD-YM'].shift(-1)
df.loc[flag, ]

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
1997-05-30,1.500000,1.510417,1.479167,1.500000,1.500000,2594400,1997-05
1997-06-30,1.510417,1.598958,1.479167,1.541667,1.541667,2746800,1997-06
1997-07-31,2.437500,2.437500,2.333333,2.395833,2.395833,1454400,1997-07
1997-08-29,2.364583,2.375000,2.322917,2.338542,2.338542,722400,1997-08
1997-09-30,4.000000,4.348958,3.802083,4.338542,4.338542,5254800,1997-09
...,...,...,...,...,...,...,...
2019-02-28,1635.250000,1651.770020,1633.829956,1639.829956,1639.829956,3025900,2019-02
2019-03-29,1786.579956,1792.859985,1776.630005,1780.750000,1780.750000,3320800,2019-03
2019-04-30,1930.099976,1935.709961,1906.949951,1926.520020,1926.520020,3506000,2019-04
2019-05-31,1790.010010,1795.589966,1772.699951,1775.069946,1775.069946,4618800,2019-05
2019-06-24,1912.660034,1916.859985,1901.329956,1907.953857,1907.953857,1243601,2019-06

In [148]:
# 기준년월의 유니크 값을 따로 생성
month_list = df['STD-YM'].unique()
month_list

array(['1997-05', '1997-06', '1997-07', '1997-08', '1997-09', '1997-10',
       '1997-11', '1997-12', '1998-01', '1998-02', '1998-03', '1998-04',
       '1998-05', '1998-06', '1998-07', '1998-08', '1998-09', '1998-10',
       '1998-11', '1998-12', '1999-01', '1999-02', '1999-03', '1999-04',
       '1999-05', '1999-06', '1999-07', '1999-08', '1999-09', '1999-10',
       '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04',
       '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10',
       '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04',
       '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10',
       '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04',
       '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10',
       '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04',
       '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10',
       '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04',
       '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10',
       '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04',
       '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10',
       '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04',
       '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10',
       '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04',
       '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10',
       '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04',
       '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10',
       '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04',
       '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10',
       '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04',
       '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10',
       '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04',
       '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10',
       '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04',
       '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10',
       '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04',
       '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10',
       '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04',
       '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10',
       '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04',
       '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10',
       '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
       '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10',
       '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04',
       '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10',
       '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04',
       '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10',
       '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06'], dtype=object)

In [149]:
month_last_df = pd.DataFrame()

for month in month_list:
	# flag = df['STD-YM'] == month
	# data = df.loc[flag, ].tail()
	data = df.loc[month, ].tail(1)
	month_last_df = pd.concat(
		[month_last_df, data], axis=0
	)

In [150]:
month_last_df = month_last_df[['Adj Close', 'STD-YM']]
month_last_df.head()

            Adj Close   STD-YM
Date
1997-05-30   1.500000  1997-05
1997-06-30   1.541667  1997-06
1997-07-31   2.395833  1997-07
1997-08-29   2.338542  1997-08
1997-09-30   4.338542  1997-09

In [151]:
# 전월의 수정종가 파생변수(BF-1M) 생성
month_last_df['BF-1M'] = month_last_df['Adj Close'].shift(1).fillna(0)
# 매도의 수정종가 파생변수(BF-12M) 생성
month_last_df['BF-12M'] = month_last_df['Adj Close'].shift(12).fillna(0)

In [152]:
month_last_df.head(3)

            Adj Close   STD-YM     BF-1M  BF-12M
Date
1997-05-30   1.500000  1997-05  0.000000     0.0
1997-06-30   1.541667  1997-06  1.500000     0.0
1997-07-31   2.395833  1997-07  1.541667     0.0

- 거래 내역 추가
	- (전월의 수정종가) / (전년도의 수정종가) - 1 값이 0보다 크고 무한대가 아닌 경우가 매수 타이밍
	- 모멘텀 인덱스가 위의 조건에 부합할 경우 df의 trade 컬럼의 해당 월에 구매 내역 추가

In [153]:
df['trade'] = ''

# month_last_df의 인덱스를 기준으로 반복문 실행
for idx in month_last_df.index:
	signal= ''

	# 절대 모멘텀 인덱스 계산
	momentum_index = \
		(month_last_df.loc[idx, 'BF-1M'] / month_last_df.loc[idx, 'BF-12M']) - 1
	# print(momentum_index)
	# break
	# 조건식: 모멘텀 인덱스가 0보다 크고 무한대가 아닌
	# if문 한줄에 작성
	# 참인 경우 데이터 if 조건식 else 거짓인 경우 데이터
	flag = True if (momentum_index > 0) & (momentum_index != np.inf) else False
	
	# 조건(flag)이 참이라면
	if flag:
		signal = 'buy'
	print(f'날짜: {idx}, 모멘텀인덱스: {momentum_index}, signal: {signal}')
	df.loc[idx: , 'trade'] = signal

날짜: 1997-05-30 00:00:00, 모멘텀인덱스: nan, signal:
날짜: 1997-06-30 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-07-31 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-08-29 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-09-30 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-10-31 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-11-28 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1997-12-31 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1998-01-30 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1998-02-27 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1998-03-31 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1998-04-30 00:00:00, 모멘텀인덱스: inf, signal:
날짜: 1998-05-29 00:00:00, 모멘텀인덱스: 4.0972219999999995, signal: buy
날짜: 1998-06-30 00:00:00, 모멘텀인덱스: 3.7635124835648686, signal: buy
날짜: 1998-07-31 00:00:00, 모멘텀인덱스: 5.9391314002269775, signal: buy
날짜: 1998-08-31 00:00:00, 모멘텀인덱스: 6.902003042921615, signal: buy
날짜: 1998-09-30 00:00:00, 모멘텀인덱스: 2.217286590748689, signal: buy
날짜: 1998-10-30 00:00:00, 모멘텀인덱스: 2.659836174415487, signal: buy
날짜: 1998-11-30 00:00:00, 모멘텀인덱스: 4.108585696969697, signal: buy
날짜: 1998-12-31 00:00:00, 모멘텀인덱스: 5.373444406535729, signal: buy
날짜: 1999-01-29 00:00:00, 모멘텀인덱스: 9.889830041367455, signal: buy
날짜: 1999-02-26 00:00:00, 모멘텀인덱스: 8.112012513661687, signal: buy
날짜: 1999-03-31 00:00:00, 모멘텀인덱스: 7.9879482574779725, signal: buy
날짜: 1999-04-30 00:00:00, 모멘텀인덱스: 10.260218474559935, signal: buy
날짜: 1999-05-28 00:00:00, 모멘텀인덱스: 10.714893617021277, signal: buy
날짜: 1999-06-30 00:00:00, 모멘텀인덱스: 2.5714285714285716, signal: buy
날짜: 1999-07-30 00:00:00, 모멘텀인덱스: 2.385569456976576, signal: buy
날짜: 1999-08-31 00:00:00, 모멘텀인덱스: 2.5843284438048584, signal: buy
날짜: 1999-09-30 00:00:00, 모멘텀인덱스: 2.3426652933541874, signal: buy
날짜: 1999-10-29 00:00:00, 모멘텀인덱스: 2.7933762940069613, signal: buy
날짜: 1999-11-30 00:00:00, 모멘텀인덱스: 1.20703125, signal: buy
날짜: 1999-12-31 00:00:00, 모멘텀인덱스: 0.5887159137440394, signal: buy
날짜: 2000-01-31 00:00:00, 모멘텀인덱스: 0.3019775521111705, signal: buy
날짜: 2000-02-29 00:00:00, 모멘텀인덱스: 0.007804878048780495, signal: buy
날짜: 2000-03-31 00:00:00, 모멘텀인덱스: -0.19999999999999996, signal:
날짜: 2000-04-28 00:00:00, 모멘텀인덱스: -0.22121322193970216, signal:
날짜: 2000-05-31 00:00:00, 모멘텀인덱스: -0.07052631578947366, signal:
날짜: 2000-06-30 00:00:00, 모멘텀인덱스: -0.22777222777222772, signal:
날짜: 2000-07-31 00:00:00, 모멘텀인덱스: -0.27420362273579013, signal:
날짜: 2000-08-31 00:00:00, 모멘텀인덱스: -0.5155778894472363, signal:
날짜: 2000-09-29 00:00:00, 모멘텀인덱스: -0.48084440969507425, signal:
날짜: 2000-10-31 00:00:00, 모멘텀인덱스: -0.4557522123893806, signal:
날짜: 2000-11-30 00:00:00, 모멘텀인덱스: -0.5694342395297576, signal:
날짜: 2000-12-29 00:00:00, 모멘텀인덱스: -0.6756978653530378, signal:
날짜: 2001-01-31 00:00:00, 모멘텀인덱스: -0.7589545014520813, signal:
날짜: 2001-02-28 00:00:00, 모멘텀인덱스: -0.7486388384754992, signal:
날짜: 2001-03-30 00:00:00, 모멘텀인덱스: -0.8479477611940298, signal:
날짜: 2001-04-30 00:00:00, 모멘텀인덱스: -0.8146319365798415, signal:
날짜: 2001-05-31 00:00:00, 모멘텀인덱스: -0.6733764553686934, signal:
날짜: 2001-06-29 00:00:00, 모멘텀인덱스: -0.5403786299483649, signal:
날짜: 2001-07-31 00:00:00, 모멘텀인덱스: -0.5302904564315353, signal:
날짜: 2001-08-31 00:00:00, 모멘텀인덱스: -0.6990361445783133, signal:
날짜: 2001-09-28 00:00:00, 모멘텀인덱스: -0.7674146341463415, signal:
날짜: 2001-10-31 00:00:00, 모멘텀인덱스: -0.8369965870307168, signal:
날짜: 2001-11-30 00:00:00, 모멘텀인덱스: -0.7172658227848101, signal:
날짜: 2001-12-31 00:00:00, 모멘텀인덱스: -0.2726104417670683, signal:
날짜: 2002-01-31 00:00:00, 모멘텀인덱스: -0.37501805054151627, signal:
날짜: 2002-02-28 00:00:00, 모멘텀인덱스: 0.3928834355828221, signal: buy
날짜: 2002-03-28 00:00:00, 모멘텀인덱스: 0.378299120234604, signal: buy
날짜: 2002-04-30 00:00:00, 모멘텀인덱스: -0.09378960709759177, signal:
날짜: 2002-05-31 00:00:00, 모멘텀인덱스: 0.0, signal:
날짜: 2002-06-28 00:00:00, 모멘텀인덱스: 0.2883392226148409, signal: buy
날짜: 2002-07-31 00:00:00, 모멘텀인덱스: 0.3010408326661329, signal: buy
날짜: 2002-08-30 00:00:00, 모멘텀인덱스: 0.616331096196868, signal: buy
날짜: 2002-09-30 00:00:00, 모멘텀인덱스: 1.5025125628140703, signal: buy
날짜: 2002-10-31 00:00:00, 모멘텀인덱스: 1.2822349570200573, signal: buy
날짜: 2002-11-29 00:00:00, 모멘텀인덱스: 0.7102474381625441, signal: buy
날짜: 2002-12-31 00:00:00, 모멘텀인덱스: 1.1580406654343807, signal: buy
날짜: 2003-01-31 00:00:00, 모멘텀인덱스: 0.3312190979563072, signal: buy
날짜: 2003-02-28 00:00:00, 모멘텀인덱스: 0.5496453900709222, signal: buy
날짜: 2003-03-31 00:00:00, 모멘텀인덱스: 0.5391608391608391, signal: buy
날짜: 2003-04-30 00:00:00, 모멘텀인덱스: 0.5596165033183642, signal: buy
날짜: 2003-05-30 00:00:00, 모멘텀인덱스: 0.5737795392210641, signal: buy
날짜: 2003-06-30 00:00:00, 모멘텀인덱스: 1.2086153230769234, signal: buy
날짜: 2003-07-31 00:00:00, 모멘텀인덱스: 1.5134948096885816, signal: buy
날짜: 2003-08-29 00:00:00, 모멘텀인덱스: 1.7871485274431063, signal: buy
날짜: 2003-09-30 00:00:00, 모멘텀인덱스: 1.9077212806026367, signal: buy
날짜: 2003-10-31 00:00:00, 모멘텀인덱스: 1.501549457564594, signal: buy
날짜: 2003-11-28 00:00:00, 모멘텀인덱스: 1.3310492505353317, signal: buy
날짜: 2003-12-31 00:00:00, 모멘텀인덱스: 1.85706743552501, signal: buy
날짜: 2004-01-30 00:00:00, 모멘텀인덱스: 1.4082379405034322, signal: buy
날짜: 2004-02-27 00:00:00, 모멘텀인덱스: 1.2898683325761016, signal: buy
날짜: 2004-03-31 00:00:00, 모멘텀인덱스: 0.6523241009479794, signal: buy
날짜: 2004-04-30 00:00:00, 모멘텀인덱스: 0.5085394733865642, signal: buy
날짜: 2004-05-28 00:00:00, 모멘텀인덱스: 0.21482304861585533, signal: buy
날짜: 2004-06-30 00:00:00, 모멘텀인덱스: 0.3353524229074889, signal: buy
날짜: 2004-07-30 00:00:00, 모멘텀인덱스: 0.3064361985215225, signal: buy
날짜: 2004-08-31 00:00:00, 모멘텀인덱스: -0.15975824697754748, signal:
날짜: 2004-09-30 00:00:00, 모멘텀인덱스: -0.21247162915548212, signal:
날짜: 2004-10-29 00:00:00, 모멘텀인덱스: -0.24931102333272093, signal:
날짜: 2004-11-30 00:00:00, 모멘텀인덱스: -0.3676116292827195, signal:
날짜: 2004-12-31 00:00:00, 모멘텀인덱스: -0.24591408677145743, signal:
날짜: 2005-01-31 00:00:00, 모멘텀인덱스: -0.12123017376070744, signal:
날짜: 2005-02-28 00:00:00, 모멘텀인덱스: 0.0048826554235132935, signal: buy
날짜: 2005-03-31 00:00:00, 모멘텀인덱스: -0.18715340081223197, signal:
날짜: 2005-04-29 00:00:00, 모멘텀인덱스: -0.21399078963260498, signal:
날짜: 2005-05-31 00:00:00, 모멘텀인덱스: -0.33278348453608253, signal:
날짜: 2005-06-30 00:00:00, 모멘텀인덱스: -0.3472427078219592, signal:
날짜: 2005-07-29 00:00:00, 모멘텀인덱스: -0.14979440646425513, signal:
날짜: 2005-08-31 00:00:00, 모멘텀인덱스: 0.18379662254317308, signal: buy
날짜: 2005-09-30 00:00:00, 모멘텀인덱스: 0.04503181485482588, signal: buy
날짜: 2005-10-31 00:00:00, 모멘텀인덱스: 0.32727798630887817, signal: buy
날짜: 2005-11-30 00:00:00, 모멘텀인덱스: 0.004536315524193535, signal: buy
날짜: 2005-12-30 00:00:00, 모멘텀인덱스: 0.09415213153867419, signal: buy
날짜: 2006-01-31 00:00:00, 모멘텀인덱스: 0.09093014597570215, signal: buy
날짜: 2006-02-28 00:00:00, 모멘텀인덱스: 0.27401932916429783, signal: buy
날짜: 2006-03-31 00:00:00, 모멘텀인덱스: 0.09250070032098034, signal: buy
날짜: 2006-04-28 00:00:00, 모멘텀인덱스: 0.1288627277854535, signal: buy
날짜: 2006-05-31 00:00:00, 모멘텀인덱스: -0.008448296730402483, signal:
날짜: 2006-06-30 00:00:00, 모멘텀인덱스: 0.04593535811423366, signal: buy
날짜: 2006-07-31 00:00:00, 모멘텀인덱스: -0.14330014869102337, signal:
날짜: 2006-08-31 00:00:00, 모멘텀인덱스: -0.37025764940848593, signal:
날짜: 2006-09-29 00:00:00, 모멘텀인덱스: -0.3194260335414135, signal:
날짜: 2006-10-31 00:00:00, 모멘텀인덱스: -0.19417967400452396, signal:
날짜: 2006-11-30 00:00:00, 모멘텀인덱스: -0.21399090412692745, signal:
날짜: 2006-12-29 00:00:00, 모멘텀인덱스: -0.14443269800921743, signal:
날짜: 2007-01-31 00:00:00, 모멘텀인덱스: -0.11958949129852736, signal:
날짜: 2007-02-28 00:00:00, 모멘텀인덱스: 0.006143135847840098, signal: buy
날짜: 2007-03-30 00:00:00, 모멘텀인덱스: 0.0714481267847833, signal: buy
날짜: 2007-04-30 00:00:00, 모멘텀인덱스: 0.13007674325693652, signal: buy
날짜: 2007-05-31 00:00:00, 모멘텀인덱스: 0.7720312114408783, signal: buy
날짜: 2007-06-29 00:00:00, 모멘텀인덱스: 0.7874870475698037, signal: buy
날짜: 2007-07-31 00:00:00, 모멘텀인덱스: 1.5440686702889055, signal: buy
날짜: 2007-08-31 00:00:00, 모멘텀인덱스: 1.547518683100876, signal: buy
날짜: 2007-09-28 00:00:00, 모멘텀인덱스: 1.4878582343666946, signal: buy
날짜: 2007-10-31 00:00:00, 모멘텀인덱스: 1.445523812024153, signal: buy
날짜: 2007-11-30 00:00:00, 모멘텀인덱스: 1.209965344571145, signal: buy
날짜: 2007-12-31 00:00:00, 모멘텀인덱스: 1.2949822679924545, signal: buy
날짜: 2008-01-31 00:00:00, 모멘텀인덱스: 1.4592514977038227, signal: buy
날짜: 2008-02-29 00:00:00, 모멘텀인덱스: 0.9851813741742812, signal: buy
날짜: 2008-03-31 00:00:00, 모멘텀인덱스: 0.620256330227285, signal: buy
날짜: 2008-04-30 00:00:00, 모멘텀인덱스: 0.1625631937856451, signal: buy
날짜: 2008-05-30 00:00:00, 모멘텀인덱스: 0.13725771098145367, signal: buy
날짜: 2008-06-30 00:00:00, 모멘텀인덱스: 0.19310039800611611, signal: buy
날짜: 2008-07-31 00:00:00, 모멘텀인덱스: -0.06633561158217971, signal:
날짜: 2008-08-29 00:00:00, 모멘텀인덱스: -0.04467535754346852, signal:
날짜: 2008-09-30 00:00:00, 모멘텀인덱스: -0.1324745435861613, signal:
날짜: 2008-10-31 00:00:00, 모멘텀인덱스: -0.18384744399669228, signal:
날짜: 2008-11-28 00:00:00, 모멘텀인덱스: -0.36793282614692635, signal:
날짜: 2008-12-31 00:00:00, 모멘텀인덱스: -0.5390759773216318, signal:
날짜: 2009-01-30 00:00:00, 모멘텀인덱스: -0.34002572741412074, signal:
날짜: 2009-02-27 00:00:00, 모멘텀인덱스: -0.08763767507929765, signal:
날짜: 2009-03-31 00:00:00, 모멘텀인덱스: -0.09130437203487918, signal:
날짜: 2009-04-30 00:00:00, 모멘텀인덱스: -0.06600528040208364, signal:
날짜: 2009-05-29 00:00:00, 모멘텀인덱스: -0.01347716196481874, signal:
날짜: 2009-06-30 00:00:00, 모멘텀인덱스: 0.06354828682535696, signal: buy
날짜: 2009-07-31 00:00:00, 모멘텀인덱스: 0.09588693193015096, signal: buy
날짜: 2009-08-31 00:00:00, 모멘텀인덱스: 0.06125484621345989, signal: buy
날짜: 2009-09-30 00:00:00, 모멘텀인덱스: 0.1158603596519967, signal: buy
날짜: 2009-10-30 00:00:00, 모멘텀인덱스: 0.6310272141499926, signal: buy
날짜: 2009-11-30 00:00:00, 모멘텀인덱스: 1.7824354851888642, signal: buy
날짜: 2009-12-31 00:00:00, 모멘텀인덱스: 1.6503511437275962, signal: buy
날짜: 2010-01-29 00:00:00, 모멘텀인덱스: 1.2869772866371982, signal: buy
날짜: 2010-02-26 00:00:00, 모멘텀인덱스: 0.9356382476363905, signal: buy
날짜: 2010-03-31 00:00:00, 모멘텀인덱스: 0.6122004190577226, signal: buy
날짜: 2010-04-30 00:00:00, 모멘텀인덱스: 0.6861650404681461, signal: buy
날짜: 2010-05-28 00:00:00, 모멘텀인덱스: 0.7579178037676062, signal: buy
날짜: 2010-06-30 00:00:00, 모멘텀인덱스: 0.4996413220348399, signal: buy
날짜: 2010-07-30 00:00:00, 모멘텀인덱스: 0.27402051599765587, signal: buy
날짜: 2010-08-31 00:00:00, 모멘텀인덱스: 0.45202606350471575, signal: buy
날짜: 2010-09-30 00:00:00, 모멘텀인덱스: 0.3370822693114581, signal: buy
날짜: 2010-10-29 00:00:00, 모멘텀인덱스: 0.3219426028439123, signal: buy
날짜: 2010-11-30 00:00:00, 모멘텀인덱스: 0.2157309332431483, signal: buy
날짜: 2010-12-31 00:00:00, 모멘텀인덱스: 0.3038952481743904, signal: buy
날짜: 2011-01-31 00:00:00, 모멘텀인덱스: 0.4352921956688558, signal: buy
날짜: 2011-02-28 00:00:00, 모멘텀인덱스: 0.4327702376221243, signal: buy
날짜: 2011-03-31 00:00:00, 모멘텀인덱스: 0.27634961990573426, signal: buy
날짜: 2011-04-29 00:00:00, 모멘텀인덱스: 0.31385847641757225, signal: buy
날짜: 2011-05-31 00:00:00, 모멘텀인덱스: 0.5607364862166149, signal: buy
날짜: 2011-06-30 00:00:00, 모멘텀인덱스: 0.8002013399194337, signal: buy
날짜: 2011-07-29 00:00:00, 모멘텀인덱스: 0.734583143053551, signal: buy
날짜: 2011-08-31 00:00:00, 모멘텀인덱스: 0.7825843181513368, signal: buy
날짜: 2011-09-30 00:00:00, 모멘텀인덱스: 0.37036800420690175, signal: buy
날짜: 2011-10-31 00:00:00, 모멘텀인덱스: 0.3086606623170287, signal: buy
날짜: 2011-11-30 00:00:00, 모멘텀인덱스: 0.2172748135897884, signal: buy
날짜: 2011-12-30 00:00:00, 모멘텀인덱스: 0.06827773888888888, signal: buy
날짜: 2012-01-31 00:00:00, 모멘텀인덱스: 0.02039617437158814, signal: buy
날짜: 2012-02-29 00:00:00, 모멘텀인덱스: 0.12204980007125954, signal: buy
날짜: 2012-03-30 00:00:00, 모멘텀인덱스: -0.0024426968732944587, signal:
날짜: 2012-04-30 00:00:00, 모멘텀인덱스: 0.034216827886388135, signal: buy
날짜: 2012-05-31 00:00:00, 모멘텀인덱스: 0.1790126170215811, signal: buy
날짜: 2012-06-29 00:00:00, 모멘텀인덱스: 0.041175601712171606, signal: buy
날짜: 2012-07-31 00:00:00, 모멘텀인덱스: 0.02619990066151545, signal: buy
날짜: 2012-08-31 00:00:00, 모멘텀인덱스: 0.08395673157007355, signal: buy
날짜: 2012-09-28 00:00:00, 모멘텀인덱스: 0.1481755935471598, signal: buy
날짜: 2012-10-31 00:00:00, 모멘텀인덱스: 0.19113864903607913, signal: buy
날짜: 2012-11-30 00:00:00, 모멘텀인덱스: 0.21113946371613834, signal: buy
날짜: 2012-12-31 00:00:00, 모멘텀인덱스: 0.45609470978296796, signal: buy
날짜: 2013-01-31 00:00:00, 모멘텀인덱스: 0.29021802314114353, signal: buy
날짜: 2013-02-28 00:00:00, 모멘텀인덱스: 0.47754464380271977, signal: buy
날짜: 2013-03-28 00:00:00, 모멘텀인덱스: 0.3049725718476266, signal: buy
날짜: 2013-04-30 00:00:00, 모멘텀인덱스: 0.14915910692089107, signal: buy
날짜: 2013-05-31 00:00:00, 모멘텀인덱스: 0.1920999165450208, signal: buy
날짜: 2013-06-28 00:00:00, 모멘텀인덱스: 0.17889207325004408, signal: buy
날짜: 2013-07-31 00:00:00, 모멘텀인덱스: 0.19027003184393432, signal: buy
날짜: 2013-08-30 00:00:00, 모멘텀인덱스: 0.21327585349376332, signal: buy
날짜: 2013-09-30 00:00:00, 모멘텀인덱스: 0.10482857528389422, signal: buy
날짜: 2013-10-31 00:00:00, 모멘텀인덱스: 0.3424364135103972, signal: buy
날짜: 2013-11-29 00:00:00, 모멘텀인덱스: 0.4442769080228892, signal: buy
날짜: 2013-12-31 00:00:00, 모멘텀인덱스: 0.56901982239845, signal: buy
날짜: 2014-01-31 00:00:00, 모멘텀인덱스: 0.5020339322033898, signal: buy
날짜: 2014-02-28 00:00:00, 모멘텀인덱스: 0.3572861729676009, signal: buy
날짜: 2014-03-31 00:00:00, 모멘텀인덱스: 0.3587752620651907, signal: buy
날짜: 2014-04-30 00:00:00, 모멘텀인덱스: 0.32528268252064674, signal: buy
날짜: 2014-05-30 00:00:00, 모멘텀인덱스: 0.12975479733633888, signal: buy
날짜: 2014-06-30 00:00:00, 모멘텀인덱스: 0.1255356179514162, signal: buy
날짜: 2014-07-31 00:00:00, 모멘텀인덱스: 0.07821525105167226, signal: buy
날짜: 2014-08-29 00:00:00, 모멘텀인덱스: 0.11392261992615538, signal: buy
날짜: 2014-09-30 00:00:00, 모멘텀인덱스: 0.08444214666507088, signal: buy
날짜: 2014-10-31 00:00:00, 모멘텀인덱스: -0.11424881771900341, signal:
날짜: 2014-11-28 00:00:00, 모멘텀인덱스: -0.22397237213521126, signal:
날짜: 2014-12-31 00:00:00, 모멘텀인덱스: -0.15083124612582754, signal:
날짜: 2015-01-30 00:00:00, 모멘텀인덱스: -0.1347681723227958, signal:
날짜: 2015-02-27 00:00:00, 모멘텀인덱스: -0.02090584610484658, signal:
날짜: 2015-03-31 00:00:00, 모멘텀인덱스: 0.13018405223688267, signal: buy
날짜: 2015-04-30 00:00:00, 모멘텀인덱스: 0.22348995456729104, signal: buy
날짜: 2015-05-29 00:00:00, 모멘텀인덱스: 0.3494801317989493, signal: buy
날짜: 2015-06-30 00:00:00, 모멘텀인덱스: 0.32160235335181464, signal: buy
날짜: 2015-07-31 00:00:00, 모멘텀인덱스: 0.3869133514461598, signal: buy
날짜: 2015-08-31 00:00:00, 모멘텀인덱스: 0.5813768575023841, signal: buy
날짜: 2015-09-30 00:00:00, 모멘텀인덱스: 0.5906525611546174, signal: buy
날짜: 2015-10-30 00:00:00, 모멘텀인덱스: 0.6758005306167902, signal: buy
날짜: 2015-11-30 00:00:00, 모멘텀인덱스: 0.8482754437628997, signal: buy
날짜: 2015-12-31 00:00:00, 모멘텀인덱스: 1.1420975516269203, signal: buy
날짜: 2016-01-29 00:00:00, 모멘텀인덱스: 0.9064395591527925, signal: buy
날짜: 2016-02-29 00:00:00, 모멘텀인덱스: 0.5440866840899969, signal: buy
날짜: 2016-03-31 00:00:00, 모멘텀인덱스: 0.48486968849981693, signal: buy
날짜: 2016-04-29 00:00:00, 모멘텀인덱스: 0.4074636455200902, signal: buy
날짜: 2016-05-31 00:00:00, 모멘텀인덱스: 0.5366819889022159, signal: buy
날짜: 2016-06-30 00:00:00, 모멘텀인덱스: 0.665069420305185, signal: buy
날짜: 2016-07-29 00:00:00, 모멘텀인덱스: 0.3347383436841924, signal: buy
날짜: 2016-08-31 00:00:00, 모멘텀인덱스: 0.479478983422986, signal: buy
날짜: 2016-09-30 00:00:00, 모멘텀인덱스: 0.5025883499602937, signal: buy
날짜: 2016-10-31 00:00:00, 모멘텀인덱스: 0.33776955726718416, signal: buy
날짜: 2016-11-30 00:00:00, 모멘텀인덱스: 0.18805659033796496, signal: buy
날짜: 2016-12-30 00:00:00, 모멘텀인덱스: 0.11049133785472498, signal: buy
날짜: 2017-01-31 00:00:00, 모멘텀인덱스: 0.2774616609880749, signal: buy
날짜: 2017-02-28 00:00:00, 모멘텀인덱스: 0.49040749690843755, signal: buy
날짜: 2017-03-31 00:00:00, 모멘텀인덱스: 0.423488910194169, signal: buy
날짜: 2017-04-28 00:00:00, 모멘텀인덱스: 0.34407729303038725, signal: buy
날짜: 2017-05-31 00:00:00, 모멘텀인덱스: 0.2797493298945548, signal: buy
날짜: 2017-06-30 00:00:00, 모멘텀인덱스: 0.38987172235174894, signal: buy
날짜: 2017-07-31 00:00:00, 모멘텀인덱스: 0.2756816628027614, signal: buy
날짜: 2017-08-31 00:00:00, 모멘텀인덱스: 0.2842322321419084, signal: buy
날짜: 2017-09-29 00:00:00, 모멘텀인덱스: 0.1711313352787649, signal: buy
날짜: 2017-10-31 00:00:00, 모멘텀인덱스: 0.21717602425839777, signal: buy
날짜: 2017-11-30 00:00:00, 모멘텀인덱스: 0.4725875250701297, signal: buy
날짜: 2017-12-29 00:00:00, 모멘텀인덱스: 0.5692720176115327, signal: buy
날짜: 2018-01-31 00:00:00, 모멘텀인덱스: 0.42015592291630455, signal: buy
날짜: 2018-02-28 00:00:00, 모멘텀인덱스: 0.7169483725893024, signal: buy
날짜: 2018-03-29 00:00:00, 모멘텀인덱스: 0.7060143800982657, signal: buy
날짜: 2018-04-30 00:00:00, 모멘텀인덱스: 0.5647087878215848, signal: buy
날짜: 2018-05-31 00:00:00, 모멘텀인덱스: 0.5746013682341062, signal: buy
날짜: 2018-06-29 00:00:00, 모멘텀인덱스: 0.6834917303719008, signal: buy
날짜: 2018-07-31 00:00:00, 모멘텀인덱스: 0.7208285236550374, signal: buy
날짜: 2018-08-31 00:00:00, 모멘텀인덱스: 0.812604512036007, signal: buy
날짜: 2018-09-28 00:00:00, 모멘텀인덱스: 1.0936287629345092, signal: buy
날짜: 2018-10-31 00:00:00, 모멘텀인덱스: 0.812210433053975, signal: buy
날짜: 2018-11-30 00:00:00, 모멘텀인덱스: 0.3579859868281283, signal: buy
날짜: 2018-12-31 00:00:00, 모멘텀인덱스: 0.44524450042505626, signal: buy
날짜: 2019-01-31 00:00:00, 모멘텀인덱스: 0.03520594633081142, signal: buy
날짜: 2019-02-28 00:00:00, 모멘텀인덱스: 0.13638800336078027, signal: buy
날짜: 2019-03-29 00:00:00, 모멘텀인덱스: 0.13299569867609118, signal: buy
날짜: 2019-04-30 00:00:00, 모멘텀인덱스: 0.13703842868395855, signal: buy
날짜: 2019-05-31 00:00:00, 모멘텀인덱스: 0.18218972883920692, signal: buy
날짜: 2019-06-24 00:00:00, 모멘텀인덱스: 0.04428161832580346, signal: buy

In [154]:
df

,Open,High,Low,Close,Adj Close,Volume,STD-YM,trade
Date,,,,,,,,
1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000,1997-05,
1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,1997-05,
1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,1997-05,
1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,1997-05,
1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,1997-05,
...,...,...,...,...,...,...,...,...
2019-06-18,1901.349976,1921.670044,1899.790039,1901.369995,1901.369995,3895700,2019-06,buy
2019-06-19,1907.839966,1919.579956,1892.469971,1908.790039,1908.790039,2895300,2019-06,buy
2019-06-20,1933.329956,1935.199951,1905.800049,1918.189941,1918.189941,3217200,2019-06,buy
2019-06-21,1916.099976,1925.949951,1907.579956,1911.300049,1911.300049,3920300,2019-06,buy
2019-06-24,1912.660034,1916.859985,1901.329956,1907.953857,1907.953857,1243601,2019-06,buy

In [155]:
df['trade'].value_counts()

trade
buy    4033
       1530
Name: count, dtype: int64

In [156]:
# 수익률 계산
# 매수일자: 전날의 trade가 ''이고, 오늘의 trade가 'buy'인 상태
# 매도일자: 전날의 trade가 'buy'이고, 오늘의 trade가 ''인 상태

df['rtn'] = 1

for idx in df.index:
    # 매수의 조건식
    if (df.shift().loc[idx, 'trade'] == '') & (df.loc[idx, 'trade'] == 'buy'):
        buy = df.loc[idx, 'Adj Close']		# 구매가는 해당 날짜의 수정종가(Adj Close)
        print(f'매수일: {idx}, 매수가: {buy}')
    # 매도의 조건식
    elif (df.shift().loc[idx, 'trade'] == 'buy') & (df.loc[idx, 'trade'] == ''):
        sell = df.loc[idx, 'Adj Close']		# 매도가는 해당 날짜의 수정종가(Adj Close)
        rtn = sell / buy
        df.loc[idx, 'rtn'] = rtn
        print(f'매도일: {idx}, 매도가: {sell}, 수익률: {rtn}')

매수일: 1998-05-29 00:00:00, 매수가: 7.34375
매도일: 2000-03-31 00:00:00, 매도가: 67.0, 수익률: 9.12340425531915
매수일: 2002-02-28 00:00:00, 매수가: 14.1
매도일: 2002-04-30 00:00:00, 매도가: 16.690001, 수익률: 1.183688014184397
매수일: 2002-06-28 00:00:00, 매수가: 16.25
매도일: 2004-08-31 00:00:00, 매도가: 38.139999, 수익률: 2.347076861538462
매수일: 2005-02-28 00:00:00, 매수가: 35.18
매도일: 2005-03-31 00:00:00, 매도가: 34.27, 수익률: 0.9741330301307563
매수일: 2005-08-31 00:00:00, 매수가: 42.700001
매도일: 2006-05-31 00:00:00, 매도가: 34.610001, 수익률: 0.8105386461232167
매수일: 2006-06-30 00:00:00, 매수가: 38.68
매도일: 2006-07-31 00:00:00, 매도가: 26.889999, 수익률: 0.6951912874870734
매수일: 2007-02-28 00:00:00, 매수가: 39.139999
매도일: 2008-07-31 00:00:00, 매도가: 76.339996, 수익률: 1.9504342859078763
매수일: 2009-06-30 00:00:00, 매수가: 83.660004
매도일: 2012-03-30 00:00:00, 매도가: 202.509995, 수익률: 2.420630950483818
매수일: 2012-04-30 00:00:00, 매수가: 231.899994
매도일: 2014-10-31 00:00:00, 매도가: 305.459991, 수익률: 1.31720568737919
매수일: 2015-03-31 00:00:00, 매수가: 372.100006

In [157]:
# 누적곱 연산 과정
acc_rtn = 1
for i in df.index:
    rtn = df.loc[i, 'rtn']
    acc_rtn *= rtn
acc_rtn

np.float64(86.52294619753461)

In [158]:
# 누적곱(누적수익률)
df['acc_rtn'] = df['rtn'].cumprod()

In [159]:
df.iloc[-1, ]['Adj Close'] / df.iloc[0, ]['Adj Close']		# buyandhold 수익률

np.float64(974.2744757914)

In [160]:
df.head(1)

,Open,High,Low,Close,Adj Close,Volume,STD-YM,trade,rtn,acc_rtn
Date,,,,,,,,,,
1997-05-15,2.4375,2.5,1.927083,1.958333,1.958333,72156000,1997-05,,1.0,1.0

In [161]:
df2 = df.drop(
    ['trade', 'rtn', 'acc_rtn'],
    axis=1
)

In [162]:
df2.head(1)

              Open  High       Low     Close  Adj Close    Volume   STD-YM
Date
1997-05-15  2.4375   2.5  1.927083  1.958333   1.958333  72156000  1997-05

In [163]:
df2['trade'] = ''

# month_last_df의 인덱스를 기준으로 반복문 실행
for idx in month_last_df.index:
	signal= ''

	# 절대 모멘텀 인덱스 계산
	momentum_index = \
		(month_last_df.loc[idx, 'BF-1M'] / month_last_df.loc[idx, 'BF-12M']) - 1
	
	flag = True if (momentum_index > 0) & (momentum_index != np.inf) else False
	
	# 조건(flag)이 참이라면
	if flag:
		# 모멘텀 인덱스가 구매 신호 주면 해당 월말부터 마지막 데이터까지 buy로 채워줌
		# df2.loc[idx: , 'trade'] = 'buy'
		# 모멘텀 인덱스가 구매 신호 주면 해당 월말 다음 행의 STD-YM을 추출해
		# 해당 조건에 맞는 인덱스를 필터링해 trade에 buy 대입
		std_ym = df2.shift(-1).loc[idx, 'STD-YM']
		df2.loc[std_ym, 'trade'] = 'buy'
		print(f'날짜: {idx}, 모멘텀인덱스: {momentum_index}')

날짜: 1998-05-29 00:00:00, 모멘텀인덱스: 4.0972219999999995
날짜: 1998-06-30 00:00:00, 모멘텀인덱스: 3.7635124835648686
날짜: 1998-07-31 00:00:00, 모멘텀인덱스: 5.9391314002269775
날짜: 1998-08-31 00:00:00, 모멘텀인덱스: 6.902003042921615
날짜: 1998-09-30 00:00:00, 모멘텀인덱스: 2.217286590748689
날짜: 1998-10-30 00:00:00, 모멘텀인덱스: 2.659836174415487
날짜: 1998-11-30 00:00:00, 모멘텀인덱스: 4.108585696969697
날짜: 1998-12-31 00:00:00, 모멘텀인덱스: 5.373444406535729
날짜: 1999-01-29 00:00:00, 모멘텀인덱스: 9.889830041367455
날짜: 1999-02-26 00:00:00, 모멘텀인덱스: 8.112012513661687
날짜: 1999-03-31 00:00:00, 모멘텀인덱스: 7.9879482574779725
날짜: 1999-04-30 00:00:00, 모멘텀인덱스: 10.260218474559935
날짜: 1999-05-28 00:00:00, 모멘텀인덱스: 10.714893617021277
날짜: 1999-06-30 00:00:00, 모멘텀인덱스: 2.5714285714285716
날짜: 1999-07-30 00:00:00, 모멘텀인덱스: 2.385569456976576
날짜: 1999-08-31 00:00:00, 모멘텀인덱스: 2.5843284438048584
날짜: 1999-09-30 00:00:00, 모멘텀인덱스: 2.3426652933541874
날짜: 1999-10-29 00:00:00, 모멘텀인덱스: 2.7933762940069613
날짜: 1999-11-30 00:00:00, 모멘텀인덱스: 1.20703125
날짜: 1999-12-31 00:00:00, 모멘텀인덱스: 0.5887159137440394
날짜: 2000-01-31 00:00:00, 모멘텀인덱스: 0.3019775521111705
날짜: 2000-02-29 00:00:00, 모멘텀인덱스: 0.007804878048780495
날짜: 2002-02-28 00:00:00, 모멘텀인덱스: 0.3928834355828221
날짜: 2002-03-28 00:00:00, 모멘텀인덱스: 0.378299120234604
날짜: 2002-06-28 00:00:00, 모멘텀인덱스: 0.2883392226148409
날짜: 2002-07-31 00:00:00, 모멘텀인덱스: 0.3010408326661329
날짜: 2002-08-30 00:00:00, 모멘텀인덱스: 0.616331096196868
날짜: 2002-09-30 00:00:00, 모멘텀인덱스: 1.5025125628140703
날짜: 2002-10-31 00:00:00, 모멘텀인덱스: 1.2822349570200573
날짜: 2002-11-29 00:00:00, 모멘텀인덱스: 0.7102474381625441
날짜: 2002-12-31 00:00:00, 모멘텀인덱스: 1.1580406654343807
날짜: 2003-01-31 00:00:00, 모멘텀인덱스: 0.3312190979563072
날짜: 2003-02-28 00:00:00, 모멘텀인덱스: 0.5496453900709222
날짜: 2003-03-31 00:00:00, 모멘텀인덱스: 0.5391608391608391
날짜: 2003-04-30 00:00:00, 모멘텀인덱스: 0.5596165033183642
날짜: 2003-05-30 00:00:00, 모멘텀인덱스: 0.5737795392210641
날짜: 2003-06-30 00:00:00, 모멘텀인덱스: 1.2086153230769234
날짜: 2003-07-31 00:00:00, 모멘텀인덱스: 1.5134948096885816
날짜: 2003-08-29 00:00:00, 모멘텀인덱스: 1.7871485274431063
날짜: 2003-09-30 00:00:00, 모멘텀인덱스: 1.9077212806026367
날짜: 2003-10-31 00:00:00, 모멘텀인덱스: 1.501549457564594
날짜: 2003-11-28 00:00:00, 모멘텀인덱스: 1.3310492505353317
날짜: 2003-12-31 00:00:00, 모멘텀인덱스: 1.85706743552501
날짜: 2004-01-30 00:00:00, 모멘텀인덱스: 1.4082379405034322
날짜: 2004-02-27 00:00:00, 모멘텀인덱스: 1.2898683325761016
날짜: 2004-03-31 00:00:00, 모멘텀인덱스: 0.6523241009479794
날짜: 2004-04-30 00:00:00, 모멘텀인덱스: 0.5085394733865642
날짜: 2004-05-28 00:00:00, 모멘텀인덱스: 0.21482304861585533
날짜: 2004-06-30 00:00:00, 모멘텀인덱스: 0.3353524229074889
날짜: 2004-07-30 00:00:00, 모멘텀인덱스: 0.3064361985215225
날짜: 2005-02-28 00:00:00, 모멘텀인덱스: 0.0048826554235132935
날짜: 2005-08-31 00:00:00, 모멘텀인덱스: 0.18379662254317308
날짜: 2005-09-30 00:00:00, 모멘텀인덱스: 0.04503181485482588
날짜: 2005-10-31 00:00:00, 모멘텀인덱스: 0.32727798630887817
날짜: 2005-11-30 00:00:00, 모멘텀인덱스: 0.004536315524193535
날짜: 2005-12-30 00:00:00, 모멘텀인덱스: 0.09415213153867419
날짜: 2006-01-31 00:00:00, 모멘텀인덱스: 0.09093014597570215
날짜: 2006-02-28 00:00:00, 모멘텀인덱스: 0.27401932916429783
날짜: 2006-03-31 00:00:00, 모멘텀인덱스: 0.09250070032098034
날짜: 2006-04-28 00:00:00, 모멘텀인덱스: 0.1288627277854535
날짜: 2006-06-30 00:00:00, 모멘텀인덱스: 0.04593535811423366
날짜: 2007-02-28 00:00:00, 모멘텀인덱스: 0.006143135847840098
날짜: 2007-03-30 00:00:00, 모멘텀인덱스: 0.0714481267847833
날짜: 2007-04-30 00:00:00, 모멘텀인덱스: 0.13007674325693652
날짜: 2007-05-31 00:00:00, 모멘텀인덱스: 0.7720312114408783
날짜: 2007-06-29 00:00:00, 모멘텀인덱스: 0.7874870475698037
날짜: 2007-07-31 00:00:00, 모멘텀인덱스: 1.5440686702889055
날짜: 2007-08-31 00:00:00, 모멘텀인덱스: 1.547518683100876
날짜: 2007-09-28 00:00:00, 모멘텀인덱스: 1.4878582343666946
날짜: 2007-10-31 00:00:00, 모멘텀인덱스: 1.445523812024153
날짜: 2007-11-30 00:00:00, 모멘텀인덱스: 1.209965344571145
날짜: 2007-12-31 00:00:00, 모멘텀인덱스: 1.2949822679924545
날짜: 2008-01-31 00:00:00, 모멘텀인덱스: 1.4592514977038227
날짜: 2008-02-29 00:00:00, 모멘텀인덱스: 0.9851813741742812
날짜: 2008-03-31 00:00:00, 모멘텀인덱스: 0.620256330227285
날짜: 2008-04-30 00:00:00, 모멘텀인덱스: 0.1625631937856451
날짜: 2008-05-30 00:00:00, 모멘텀인덱스: 0.13725771098145367
날짜: 2008-06-30 00:00:00, 모멘텀인덱스: 0.19310039800611611
날짜: 2009-06-30 00:00:00, 모멘텀인덱스: 0.06354828682535696
날짜: 2009-07-31 00:00:00, 모멘텀인덱스: 0.09588693193015096
날짜: 2009-08-31 00:00:00, 모멘텀인덱스: 0.06125484621345989
날짜: 2009-09-30 00:00:00, 모멘텀인덱스: 0.1158603596519967
날짜: 2009-10-30 00:00:00, 모멘텀인덱스: 0.6310272141499926
날짜: 2009-11-30 00:00:00, 모멘텀인덱스: 1.7824354851888642
날짜: 2009-12-31 00:00:00, 모멘텀인덱스: 1.6503511437275962
날짜: 2010-01-29 00:00:00, 모멘텀인덱스: 1.2869772866371982
날짜: 2010-02-26 00:00:00, 모멘텀인덱스: 0.9356382476363905
날짜: 2010-03-31 00:00:00, 모멘텀인덱스: 0.6122004190577226
날짜: 2010-04-30 00:00:00, 모멘텀인덱스: 0.6861650404681461
날짜: 2010-05-28 00:00:00, 모멘텀인덱스: 0.7579178037676062
날짜: 2010-06-30 00:00:00, 모멘텀인덱스: 0.4996413220348399
날짜: 2010-07-30 00:00:00, 모멘텀인덱스: 0.27402051599765587
날짜: 2010-08-31 00:00:00, 모멘텀인덱스: 0.45202606350471575
날짜: 2010-09-30 00:00:00, 모멘텀인덱스: 0.3370822693114581
날짜: 2010-10-29 00:00:00, 모멘텀인덱스: 0.3219426028439123
날짜: 2010-11-30 00:00:00, 모멘텀인덱스: 0.2157309332431483
날짜: 2010-12-31 00:00:00, 모멘텀인덱스: 0.3038952481743904
날짜: 2011-01-31 00:00:00, 모멘텀인덱스: 0.4352921956688558
날짜: 2011-02-28 00:00:00, 모멘텀인덱스: 0.4327702376221243
날짜: 2011-03-31 00:00:00, 모멘텀인덱스: 0.27634961990573426
날짜: 2011-04-29 00:00:00, 모멘텀인덱스: 0.31385847641757225
날짜: 2011-05-31 00:00:00, 모멘텀인덱스: 0.5607364862166149
날짜: 2011-06-30 00:00:00, 모멘텀인덱스: 0.8002013399194337
날짜: 2011-07-29 00:00:00, 모멘텀인덱스: 0.734583143053551
날짜: 2011-08-31 00:00:00, 모멘텀인덱스: 0.7825843181513368
날짜: 2011-09-30 00:00:00, 모멘텀인덱스: 0.37036800420690175
날짜: 2011-10-31 00:00:00, 모멘텀인덱스: 0.3086606623170287
날짜: 2011-11-30 00:00:00, 모멘텀인덱스: 0.2172748135897884
날짜: 2011-12-30 00:00:00, 모멘텀인덱스: 0.06827773888888888
날짜: 2012-01-31 00:00:00, 모멘텀인덱스: 0.02039617437158814
날짜: 2012-02-29 00:00:00, 모멘텀인덱스: 0.12204980007125954
날짜: 2012-04-30 00:00:00, 모멘텀인덱스: 0.034216827886388135
날짜: 2012-05-31 00:00:00, 모멘텀인덱스: 0.1790126170215811
날짜: 2012-06-29 00:00:00, 모멘텀인덱스: 0.041175601712171606
날짜: 2012-07-31 00:00:00, 모멘텀인덱스: 0.02619990066151545
날짜: 2012-08-31 00:00:00, 모멘텀인덱스: 0.08395673157007355
날짜: 2012-09-28 00:00:00, 모멘텀인덱스: 0.1481755935471598
날짜: 2012-10-31 00:00:00, 모멘텀인덱스: 0.19113864903607913
날짜: 2012-11-30 00:00:00, 모멘텀인덱스: 0.21113946371613834
날짜: 2012-12-31 00:00:00, 모멘텀인덱스: 0.45609470978296796
날짜: 2013-01-31 00:00:00, 모멘텀인덱스: 0.29021802314114353
날짜: 2013-02-28 00:00:00, 모멘텀인덱스: 0.47754464380271977
날짜: 2013-03-28 00:00:00, 모멘텀인덱스: 0.3049725718476266
날짜: 2013-04-30 00:00:00, 모멘텀인덱스: 0.14915910692089107
날짜: 2013-05-31 00:00:00, 모멘텀인덱스: 0.1920999165450208
날짜: 2013-06-28 00:00:00, 모멘텀인덱스: 0.17889207325004408
날짜: 2013-07-31 00:00:00, 모멘텀인덱스: 0.19027003184393432
날짜: 2013-08-30 00:00:00, 모멘텀인덱스: 0.21327585349376332
날짜: 2013-09-30 00:00:00, 모멘텀인덱스: 0.10482857528389422
날짜: 2013-10-31 00:00:00, 모멘텀인덱스: 0.3424364135103972
날짜: 2013-11-29 00:00:00, 모멘텀인덱스: 0.4442769080228892
날짜: 2013-12-31 00:00:00, 모멘텀인덱스: 0.56901982239845
날짜: 2014-01-31 00:00:00, 모멘텀인덱스: 0.5020339322033898
날짜: 2014-02-28 00:00:00, 모멘텀인덱스: 0.3572861729676009
날짜: 2014-03-31 00:00:00, 모멘텀인덱스: 0.3587752620651907
날짜: 2014-04-30 00:00:00, 모멘텀인덱스: 0.32528268252064674
날짜: 2014-05-30 00:00:00, 모멘텀인덱스: 0.12975479733633888
날짜: 2014-06-30 00:00:00, 모멘텀인덱스: 0.1255356179514162
날짜: 2014-07-31 00:00:00, 모멘텀인덱스: 0.07821525105167226
날짜: 2014-08-29 00:00:00, 모멘텀인덱스: 0.11392261992615538
날짜: 2014-09-30 00:00:00, 모멘텀인덱스: 0.08444214666507088
날짜: 2015-03-31 00:00:00, 모멘텀인덱스: 0.13018405223688267
날짜: 2015-04-30 00:00:00, 모멘텀인덱스: 0.22348995456729104
날짜: 2015-05-29 00:00:00, 모멘텀인덱스: 0.3494801317989493
날짜: 2015-06-30 00:00:00, 모멘텀인덱스: 0.32160235335181464
날짜: 2015-07-31 00:00:00, 모멘텀인덱스: 0.3869133514461598
날짜: 2015-08-31 00:00:00, 모멘텀인덱스: 0.5813768575023841
날짜: 2015-09-30 00:00:00, 모멘텀인덱스: 0.5906525611546174
날짜: 2015-10-30 00:00:00, 모멘텀인덱스: 0.6758005306167902
날짜: 2015-11-30 00:00:00, 모멘텀인덱스: 0.8482754437628997
날짜: 2015-12-31 00:00:00, 모멘텀인덱스: 1.1420975516269203
날짜: 2016-01-29 00:00:00, 모멘텀인덱스: 0.9064395591527925
날짜: 2016-02-29 00:00:00, 모멘텀인덱스: 0.5440866840899969
날짜: 2016-03-31 00:00:00, 모멘텀인덱스: 0.48486968849981693
날짜: 2016-04-29 00:00:00, 모멘텀인덱스: 0.4074636455200902
날짜: 2016-05-31 00:00:00, 모멘텀인덱스: 0.5366819889022159
날짜: 2016-06-30 00:00:00, 모멘텀인덱스: 0.665069420305185
날짜: 2016-07-29 00:00:00, 모멘텀인덱스: 0.3347383436841924
날짜: 2016-08-31 00:00:00, 모멘텀인덱스: 0.479478983422986
날짜: 2016-09-30 00:00:00, 모멘텀인덱스: 0.5025883499602937
날짜: 2016-10-31 00:00:00, 모멘텀인덱스: 0.33776955726718416
날짜: 2016-11-30 00:00:00, 모멘텀인덱스: 0.18805659033796496
날짜: 2016-12-30 00:00:00, 모멘텀인덱스: 0.11049133785472498
날짜: 2017-01-31 00:00:00, 모멘텀인덱스: 0.2774616609880749
날짜: 2017-02-28 00:00:00, 모멘텀인덱스: 0.49040749690843755
날짜: 2017-03-31 00:00:00, 모멘텀인덱스: 0.423488910194169
날짜: 2017-04-28 00:00:00, 모멘텀인덱스: 0.34407729303038725
날짜: 2017-05-31 00:00:00, 모멘텀인덱스: 0.2797493298945548
날짜: 2017-06-30 00:00:00, 모멘텀인덱스: 0.38987172235174894
날짜: 2017-07-31 00:00:00, 모멘텀인덱스: 0.2756816628027614
날짜: 2017-08-31 00:00:00, 모멘텀인덱스: 0.2842322321419084
날짜: 2017-09-29 00:00:00, 모멘텀인덱스: 0.1711313352787649
날짜: 2017-10-31 00:00:00, 모멘텀인덱스: 0.21717602425839777
날짜: 2017-11-30 00:00:00, 모멘텀인덱스: 0.4725875250701297
날짜: 2017-12-29 00:00:00, 모멘텀인덱스: 0.5692720176115327
날짜: 2018-01-31 00:00:00, 모멘텀인덱스: 0.42015592291630455
날짜: 2018-02-28 00:00:00, 모멘텀인덱스: 0.7169483725893024
날짜: 2018-03-29 00:00:00, 모멘텀인덱스: 0.7060143800982657
날짜: 2018-04-30 00:00:00, 모멘텀인덱스: 0.5647087878215848
날짜: 2018-05-31 00:00:00, 모멘텀인덱스: 0.5746013682341062
날짜: 2018-06-29 00:00:00, 모멘텀인덱스: 0.6834917303719008
날짜: 2018-07-31 00:00:00, 모멘텀인덱스: 0.7208285236550374
날짜: 2018-08-31 00:00:00, 모멘텀인덱스: 0.812604512036007
날짜: 2018-09-28 00:00:00, 모멘텀인덱스: 1.0936287629345092
날짜: 2018-10-31 00:00:00, 모멘텀인덱스: 0.812210433053975
날짜: 2018-11-30 00:00:00, 모멘텀인덱스: 0.3579859868281283
날짜: 2018-12-31 00:00:00, 모멘텀인덱스: 0.44524450042505626
날짜: 2019-01-31 00:00:00, 모멘텀인덱스: 0.03520594633081142
날짜: 2019-02-28 00:00:00, 모멘텀인덱스: 0.13638800336078027
날짜: 2019-03-29 00:00:00, 모멘텀인덱스: 0.13299569867609118
날짜: 2019-04-30 00:00:00, 모멘텀인덱스: 0.13703842868395855
날짜: 2019-05-31 00:00:00, 모멘텀인덱스: 0.18218972883920692
날짜: 2019-06-24 00:00:00, 모멘텀인덱스: 0.04428161832580346

In [164]:
df2['trade'].value_counts()

trade
buy    4033
       1531
Name: count, dtype: int64

In [165]:
# 수익률 계산
# 매수일자: 전날의 trade가 ''이고, 오늘의 trade가 'buy'인 상태
# 매도일자: 전날의 trade가 'buy'이고, 오늘의 trade가 ''인 상태

df2['rtn'] = 1

for idx in df2.index:
    # 매수의 조건식
    if (df2.shift().loc[idx, 'trade'] == '') & (df2.loc[idx, 'trade'] == 'buy'):
        buy = df2.loc[idx, 'Adj Close']		# 구매가는 해당 날짜의 수정종가(Adj Close)
        print(f'매수일: {idx}, 매수가: {buy}')
    # 매도의 조건식
    elif (df2.shift().loc[idx, 'trade'] == 'buy') & (df2.loc[idx, 'trade'] == ''):
        sell = df2.loc[idx, 'Adj Close']		# 매도가는 해당 날짜의 수정종가(Adj Close)
        rtn = sell / buy
        df2.loc[idx, 'rtn'] = rtn
        print(f'매도일: {idx}, 매도가: {sell}, 수익률: {rtn}')

매수일: 1998-06-01 00:00:00, 매수가: 7.135417
매도일: 2000-04-03 00:00:00, 매도가: 63.5625, 수익률: 8.908028780938801
매수일: 2002-03-01 00:00:00, 매수가: 15.39
매도일: 2002-05-01 00:00:00, 매도가: 16.49, 수익률: 1.0714749837556854
매수일: 2002-07-01 00:00:00, 매수가: 13.55
매도일: 2004-09-01 00:00:00, 매도가: 38.240002, 수익률: 2.8221403690036895
매수일: 2005-03-01 00:00:00, 매수가: 35.389999
매도일: 2005-04-01 00:00:00, 매도가: 34.009998, 수익률: 0.961005904521218
매수일: 2005-09-01 00:00:00, 매수가: 41.84
매도일: 2006-06-01 00:00:00, 매도가: 35.07, 수익률: 0.8381931166347992
매수일: 2006-07-03 00:00:00, 매수가: 38.610001
매도일: 2006-08-01 00:00:00, 매도가: 26.32, 수익률: 0.6816886640329277
매수일: 2007-03-01 00:00:00, 매수가: 38.849998
매도일: 2008-08-01 00:00:00, 매도가: 75.75, 수익률: 1.949807050183117
매수일: 2009-07-01 00:00:00, 매수가: 81.599998
매도일: 2012-04-02 00:00:00, 매도가: 198.050003, 수익률: 2.427083429585378
매수일: 2012-05-01 00:00:00, 매수가: 230.039993
매도일: 2014-11-03 00:00:00, 매도가: 305.720001, 수익률: 1.32898630804601
매수일: 2015-04-01 00:00:00, 매수가: 370.26001

In [166]:
df2['rtn'].cumprod()

Date
1997-05-15     1.000000
1997-05-16     1.000000
1997-05-19     1.000000
1997-05-20     1.000000
1997-05-21     1.000000
                ...
2019-06-19    93.024067
2019-06-20    93.024067
2019-06-21    93.024067
2019-06-24    93.024067
NaT           93.024067
Name: rtn, Length: 5564, dtype: float64

### <절대 모멘텀 함수화>
1. STD-YM 컬럼을 생성하는 함수 (create_YM)
	- 매개변수 2개
		- _df: 데이터프레임(필수)
		- _col: 기준이 되는 컬럼(기본값 'Adj Close')
	1. 데이터프레임 복사본 생성
	2. 컬럼에 Date가 존재하면 index로 변경
	3. index를 시계열로 변경
	4. 결측치, 무한대 값 제거
	5. 기준 컬럼을 제외하고 나머지 제거
	6. 'STD-YM' 컬럼을 생성해 인덱스에서 년도-월 데이터를 추출해 대입
	7. 수정된 데이터프레임 반환

In [184]:
def create_YM(_df, _col = 'Adj Close'):
	# 데이터프레임 복사본 생성
	df = _df.copy()

	# 'Date'가 컬럼에 존재한다면 index로 변경
	if 'Date' in df.columns:
		df.set_index('Date', inplace=True)

	# 인덱스를 시계열로 변경
	df.index = pd.to_datetime(df.index)
    
	# 결측치, 무한대 값 제거
	flag = df.isin( [np.nan, np.inf, -np.inf] ).any(axis=1)
	df = df.loc[-flag, ]

	# 기준 컬럼을 제외하고 나머지 제거
	df = df[[_col]]
    
	# df에 STD-YM 컬럼 생성하여 인덱스에서 년도-월 데이터 추출하여 대입
	df['STD-YM'] = df.index.strftime('%Y-%m')

	return df

In [185]:
df = pd.read_csv('../../csv/AAPL.csv')
ym_df = create_YM(df)

2. 월말의 데이터프레임 생성하는 함수 (create_last_month)
	- 매개변수 4개
		- _df: STD-YM 컬럼이 생성된 데이터프레임 (필수)
		- _start: 투자 시작시간 (기본값 '2010-01-01')
		- _end: 투자 종료시간 (기본값 현재 시간)
		- _momentum: 모멘텀 기간 (기본값 12)
			- 6으로 지정한다면 전월과 6개월 전 데이터 이용
	1. 월말의 데이터만 모아서 새로운 데이터프레임 생성
	2. 전월의 기준이 되는 컬럼의 데이터를 BF1 컬럼에 대입
	3. BF2 컬럼을 생성해 모멘텀 기간만큼 전의 데이터 대입
	4. 결측치는 0으로 대체
	5. 투자의 시작 시간과 종료 시간으로 필터링
	6. 수정된 데이터프레임 반환

In [ ]:
def create_last_month(
		_df, 
		_start = '2010-01-01', 
		_end = datetime.now(), 
		_momentum = 12):
		
	# 기준이 되는 컬럼 이름을 변수에 저장
	col = _df.columns[0]

	# 월말의 데이터만 모아 생성할 새로운 데이터프레임
	# 월말의 기준 : STD-YM의 현재와 다음행 데이터가 다른 경우
	flag = _df['STD-YM'] != _df.shift(-1)['STD-YM']
	df = _df.loc[flag, ]

	# 전월의 데이터 생성
	df['BF1'] = df.shift(1)[col].fillna(0)
	# _momentum 개월 전의 데이터 생성
	df['BF2'] = df.shift(_momentum)[col].fillna(0)
	
	df = df.loc[_start : _end, ]
	
	return df

In [187]:
bf_df = create_last_month(ym_df)

3. 거래내역을 추가하는 함수 (create_rtn)
	- 매개변수 
		- _df1 : create_YM() 함수의 결과(필수)
		- _df2 : create_last_month() 함수의 결과 (필수)
		- _score : 모멘텀 스코어 (기본값 1)
	1. _df1의 복사본 생성 -> df
	2. df에 trade 컬럼을 생성해 '' 대입
	3. _df2의 데이터를 이용해 momentum_index를 생성
	4. momentum_index 값에 따라 df 거래 내역 추가
	5. df에 rtn 컬럼을 생성해 1을 대입
	6. df의 trade를 기준으로 수익률 계산해 rtn 컬럼에 대입
	7. 누적수익률 계산하여 acc_rtn 컬럼을 생성해 대입
	8. df, 최종수익률 반환

In [188]:
def create_rtn(_df1, _df2, _score = 1):
	# 데이터프레임 복사본 생성
	df = _df1.copy()
	
	# 거래 내역 컬럼 생성
	df['trade'] = ''
	df['rtn'] = 1
	
	# 거래내역 추가
	# _df2(create_last_month())를 이용해 momentum_index를 구함
	for idx in _df2.index:
		signal= ''

		# 절대 모멘텀 인덱스 계산
		momentum_index = \
			(_df2.loc[idx, 'BF1'] / _df2.loc[idx, 'BF2']) - _score

		# 모멘텀 인덱스가 0보다 크고 무한대가 아닌 경우
		flag = (momentum_index > 0) & (momentum_index != np.inf)
		
		# 조건(flag)이 참이라면
		if flag:
			signal = 'buy'
		# print(f'날짜: {idx}, 모멘텀인덱스: {momentum_index}, signal: {signal}')
		# df에 구매내역 추가
		df.loc[idx: , 'trade'] = signal
	
	# 기준이 되는 컬럼 이름을 변수에 저장
	col = df.columns[0]

	# 수익률 계산
	for idx in df.index:
		# 매수의 조건식: 전날의 trade가 ''이고, 오늘의 trade가 'buy'라면
		if (df.shift().loc[idx, 'trade'] == '') & (df.loc[idx, 'trade'] == 'buy'):
			buy = df.loc[idx, col]		# 구매가는 해당 날짜의 수정종가(Adj Close)
			print(f'매수일: {idx}, 매수가: {buy}')
		# 매도의 조건식: 전날의 trade가 'buy'이고, 오늘의 trade가 ''라면
		elif (df.shift().loc[idx, 'trade'] == 'buy') & (df.loc[idx, 'trade'] == ''):
			sell = df.loc[idx, col]		# 매도가는 해당 날짜의 수정종가(Adj Close)
			rtn = sell / buy
			df.loc[idx, 'rtn'] = rtn
			print(f'매도일: {idx}, 매도가: {sell}, 수익률: {rtn}')
	# 누적곱(누적수익률)
	df['acc_rtn'] = df['rtn'].cumprod()
	acc_rtn = df.iloc[-1, -1]	

	return df, acc_rtn

In [189]:
create_rtn(ym_df, bf_df)

매수일: 2010-01-29 00:00:00, 매수가: 24.035734
매도일: 2013-02-28 00:00:00, 매도가: 56.055256, 수익률: 2.3321632699047177
매수일: 2013-12-31 00:00:00, 매수가: 72.612869
매도일: 2016-01-29 00:00:00, 매도가: 91.581261, 수익률: 1.2612263123772178
매수일: 2016-12-30 00:00:00, 매수가: 111.392426
매도일: 2019-01-31 00:00:00, 매도가: 165.093445, 수익률: 1.4820886026847104
매수일: 2019-03-29 00:00:00, 매수가: 189.221313
매도일: 2019-06-24 00:00:00, 매도가: 199.169998, 수익률: 1.052576979000246

(             Adj Close   STD-YM trade       rtn   acc_rtn
 Date
 1980-12-12    0.410525  1980-12        1.000000  1.000000
 1980-12-15    0.389106  1980-12        1.000000  1.000000
 1980-12-16    0.360548  1980-12        1.000000  1.000000
 1980-12-17    0.369472  1980-12        1.000000  1.000000
 1980-12-18    0.380182  1980-12        1.000000  1.000000
 ...                ...      ...   ...       ...       ...
 2019-06-18  198.449997  2019-06   buy  1.000000  4.359394
 2019-06-19  197.869995  2019-06   buy  1.000000  4.359394
 2019-06-20  199.460007  2019-06   buy  1.000000  4.359394
 2019-06-21  198.779999  2019-06   buy  1.000000  4.359394
 2019-06-24  199.169998  2019-06        1.052577  4.588598

 [9713 rows x 5 columns],
 np.float64(4.588597970528201))