#### Pandas 설치
1. cmd 
    - pip install pandas
2. vscode
    - !pip install pandas

- pip 라이브러리 목록 확인
    - pip list

In [1]:
import pandas as pd

In [16]:
# 1차원 데이터 형태인 Series
# Series는 pandas 라이브러리 안에 존재하는 Class

series_1 = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [17]:
print(series_1)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [21]:
series_1[1]

np.int64(6000)

In [19]:
print(series_1[1])

6000

In [22]:
print(type(series_1))

<class 'pandas.core.series.Series'>

In [30]:
# Series 클래스에는 변수가 적어도 2개 존재
# index, values
print(series_1.values)

[5000 6000 6500 6500]

In [31]:
print(series_1.index)

RangeIndex(start=0, stop=4, step=1)

In [32]:
print(series_1.values[1])
print(series_1.index[1])

6000
1

In [33]:
# series_1의 두 번째 values 값을 7000으로 변경
series_1.values[1] = 7000
print(series_1)

0    5000
1    7000
2    6500
3    6500
dtype: int64

In [40]:
series_1.index = ['a', 'b', 'c', 'd']

In [41]:
series_1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [42]:
series_1

a    5000
b    7000
c    6500
d    6500
dtype: int64

In [48]:
series_1.index[3]

'd'

In [49]:
# series를 생성할 때도 values의 개수와 index의 개수가 다르면 에러 발생
series_2 = pd.Series([1,2,3], index=['a','b','c','d'])

ValueError: Length of values (3) does not match length of index (4)

In [ ]:
_values = [                     # 데이터 값
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
_index = ['a', 'b', 'c']        # 행의 위치 표현
_cols = ['A', 'B', 'C']         # 열의 위치 표현

df = pd.DataFrame(
    _values, 
    index=_index, 
    columns=_cols
)

In [51]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
# df에서 두 번째 컬럼의 이름을 'F'로 변경
# df.columns[1] = 'F'  ==> 오류
df.columns = ['A', 'F', 'C']        # 전체 columns 리스트 한번에 변경 -> 비효율

In [64]:
df.columns

Index(['A', 'F', 'C'], dtype='object')

In [65]:
df

   A  F  C
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
# rename() 함수 사용하여 특정 컬럼 이름 변경
# F라는 이름의 컬럼(key)을 찾아 B(value)로 변경 => 딕셔너리의 형태
df.rename(
    columns = {'F' : 'B'}, inplace = True           # inplace = True 작성해줘야 저장, 작성 안하면(기본값 inplace=False) 저장 없이 출력만 됨
)

In [69]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
pd.rename()

AttributeError: module 'pandas' has no attribute 'rename'

In [ ]:
values = ['a', 'b', 'c']

# a_0 = values[0]
# a_1 = values[1]
# a_2 = values[2]

# 위의 코드를 반복문으로 생성
for i in range(len(values)):
    # print(i)
    # print(values[i])
    globals()[f'a_{i}'] = values[i]

In [83]:
print(a_0)
print(a_1)
print(a_2)

a
b
c