In [1]:
import pandas as pd

In [2]:
series1 = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [3]:
print(series1)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [4]:
series1[1]

np.int64(6000)

In [5]:
print(type(series1))

<class 'pandas.core.series.Series'>

In [6]:
print(series1.values[1])

6000

In [8]:
series1.values[1]=7000

In [10]:
series1

0    5000
1    7000
2    6500
3    6500
dtype: int64

In [12]:
_values = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
_index = ['a', 'b', 'c']
_cols = ['A', 'B', 'C']

df = pd.DataFrame(
    _values,
    index = _index,
    columns = _cols
)

In [13]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [14]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [15]:
print(df.index)

Index(['a', 'b', 'c'], dtype='object')

In [16]:
df.columns = ['A', 'F', 'C']

In [17]:
df

   A  F  C
a  1  2  3
b  4  5  6
c  7  8  9

In [18]:
df.rename(
    columns = {
        'F': 'B'
    },
    inplace = True
)

In [19]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [20]:
pd.rename()

AttributeError: module 'pandas' has no attribute 'rename'

In [21]:
values = ['a', 'b', 'c']
for i in range(len(values)):
    globals()[f'a{i+1}'] = values[i]

In [22]:
a1

'a'