In [2]:
x=10
def case1(_val):
    result = x+_val
    return result

In [3]:
print(case1(5))
print(x)

15
10

In [5]:
x

10

In [6]:
x = 10
def case2(_val):
    globals()['x'] = x + _val
case2(5)

In [7]:
x

15

In [8]:
x=10
def case3(_val, inplace=False):
    if inplace:
        globals()['x'] = x + _val
    else:
        result = x + _val
        return result

In [9]:
print(case3(5))
print(x)
print(case3(5, inplace=True))
print(x)

15
10
None
15

In [10]:
class InplaceTest:
    def __init__(self, _data):
        self.data = _data
    def add(self, _val, inplace = False):
        if inplace:
            self.data+= _val
        else:
            result = self.data + _val
            return result

In [11]:
inplace_1 = InplaceTest(10)

In [12]:
print(inplace_1.add(5))

15

In [13]:
inplace_1.data = inplace_1.add(5)

In [14]:
print(inplace_1.data)

15

In [15]:
inplace_1.add(5, inplace=True)

In [16]:
inplace_1.data = inplace_1.add(5, inplace=True)

In [17]:
inplace_1.data

In [18]:
class A:
    def __init__(self, _name, _birth):
        self.name = _name
        self.birth = _birth
    def view_info(self):
        print(f'등록된 이름은 {self.name}, 생년월일은 {self.birth}입니다.')

In [19]:
test_1 = A('kim', '900227')

In [21]:
test_1.view_info()

등록된 이름은 kim, 생년월일은 900227입니다.

In [25]:
class B(A):
    def __init__(self, _name, _birth, _loc, _phone):
        super().__init__(_name, _birth)
        self.loc = _loc
        self.phone = _phone
    def user_info(self):
        print(f'''이름은 {self.name},
              생년월일은 {self.birth},
              지역은 {self.loc},
              휴대폰번호는 {self.phone}입니다.''')

In [26]:
test_2 = B('park', '010522', 'seoul', '01043523412')

In [27]:
test_2.view_info()

등록된 이름은 park, 생년월일은 010522입니다.

In [28]:
test_2.user_info()

이름은 park,
              생년월일은 010522,
              지역은 seoul,
              휴대폰번호는 01043523412입니다.

In [47]:
class User:
    def __init__(self, _name, _birth, _addr):
        self.name = _name
        self.birth = _birth
        self.addr = _addr
    
    def view_info(self):
        print(f'유저 이름은 {self.name}, 생년월일은 {self.birth}, 주소는 {self.addr}입니다.')

class Wallet(User):
    def __init__(self, _name, _birth, _addr, _balance):
        super().__init__(_name, _birth, _addr)
        self.balance = _balance
        self.item_list = []

    def work(self, type):
        if type=='serving':
            price = 50000
        elif type=='teaching':
            price = 100000
        elif type=='hard_work':
            price = 150000
        else:
            print('잘못된 일의 종류입니다.')
            return 'type error'
        self.balance += price
        print(f'{type} 일 성공, 현재 잔액은 {self.balance}원')
    
    def buy(self, item_name):
        if item_name=='맥스튜디오':
            price = 5000000
        elif item_name=='디카':
            price = 1500000
        elif item_name=='스탠바이미':
            price = 1000000
        else:
            print('잘못된 물건 이름')
            return 'item_name error'
        if self.balance >= price:
            self.balance -= price
            self.item_list.append(item_name)
            print(f'{item_name} 물건 구매 성공, 잔액은 {self.balance}원')
        else:
            print(f'{item_name} 물건 구매 실패! 돈이 {price-self.balance}원 부족')

In [48]:
wallet1 = Wallet('han','010131','kyonggi',3000000)

In [49]:
wallet1.view_info()

유저 이름은 han, 생년월일은 010131, 주소는 kyonggi입니다.

In [50]:
wallet1.work('teaching')

teaching 일 성공, 현재 잔액은 3100000원

In [51]:
wallet1.work('teach')

잘못된 일의 종류입니다.

'type error'

In [52]:
wallet1.work('hard_work')

hard_work 일 성공, 현재 잔액은 3250000원

In [53]:
wallet1.buy('tb')

잘못된 물건 이름

'item_name error'

In [54]:
wallet1.buy('맥스튜디오')

맥스튜디오 물건 구매 실패! 돈이 1750000원 부족

In [55]:
wallet1.buy('스탠바이미')

스탠바이미 물건 구매 성공, 잔액은 2250000원

In [56]:
wallet1.buy('디카')

디카 물건 구매 성공, 잔액은 750000원

In [57]:
wallet1.item_list

['스탠바이미', '디카']

In [58]:
class User:
    def __init__(self, _name, _birth, _addr):
        self.name = _name
        self.birth = _birth
        self.addr = _addr
    
    def view_info(self):
        print(f'유저 이름은 {self.name}, 생년월일은 {self.birth}, 주소는 {self.addr}입니다.')

class Wallet(User):
    type_names = ['serving', 'teaching', 'hard_work']
    type_price = [50000, 100000, 150000]
    item_info = {
        '맥스튜디오' : 8000000,
        '디카' : 1500000,
        '스탠바이미' : 1000000
    }
    def __init__(self, _name, _birth, _addr, _balance):
        super().__init__(_name, _birth, _addr)
        self.balance = _balance
        self.item_list = []

    def work(self, type):
        if type in Wallet.type_names:
            idx = Wallet.type_names.index(type)
            price = Wallet.type_price[idx]
        else:
            print('잘못된 일의 종류입니다.')
            return 'type error'
        self.balance += price
        print(f'{type} 일 성공, 현재 잔액은 {self.balance}원')
    
    def buy(self, item_name):
        try:
            price = Wallet.item_info[item_name]
        except:
            print('잘못된 물건 이름')
            return 'item_name error'
        if self.balance >= price:
            self.balance -= price
            self.item_list.append(item_name)
            print(f'{item_name} 물건 구매 성공, 잔액은 {self.balance}원')
        else:
            print(f'{item_name} 물건 구매 실패! 돈이 {price-self.balance}원 부족')

In [59]:
wallet2 = Wallet('bom', '030212', 'seoul', 1500000)

In [61]:
wallet2.view_info()

유저 이름은 bom, 생년월일은 030212, 주소는 seoul입니다.

In [64]:
wallet2.work('hard_work')

hard_work 일 성공, 현재 잔액은 1950000원

In [65]:
wallet2.work('alba')

잘못된 일의 종류입니다.

'type error'

In [66]:
wallet2.buy('맥스튜디오')

맥스튜디오 물건 구매 실패! 돈이 6050000원 부족

In [67]:
wallet2.buy('스탠바이미')

스탠바이미 물건 구매 성공, 잔액은 950000원

In [68]:
wallet2.item_list

['스탠바이미']

In [ ]:
class User:
    def __init__(self, _name, _birth, _addr):
        self.name = _name
        self.birth = _birth
        self.addr = _addr
    
    def view_info(self):
        print(f'유저 이름은 {self.name}, 생년월일은 {self.birth}, 주소는 {self.addr}입니다.')

class Wallet(User):
    type_names = ['serving', 'teaching', 'hard_work']
    type_price = [50000, 100000, 150000]
    item_info = {
        '맥스튜디오' : 8000000,
        '디카' : 1500000,
        '스탠바이미' : 1000000
    }
    def __init__(self, _name, _birth, _addr, _balance):
        super().__init__(_name, _birth, _addr)
        self.balance = _balance
        self.item_list = []

    def work(self, type):
        if type in Wallet.type_names:
            idx = Wallet.type_names.index(type)
            price = Wallet.type_price[idx]
        else:
            print('잘못된 일의 종류입니다.')
            return 'type error'
        self.balance += price
        print(f'{type} 일 성공, 현재 잔액은 {self.balance}원')
    
    def buy(self, item_name):
        try:
            price = Wallet.item_info[item_name]
        except:
            print('잘못된 물건 이름')
            return 'item_name error'
        if self.balance >= price:
            self.balance -= price
            self.item_list.append(item_name)
            print(f'{item_name} 물건 구매 성공, 잔액은 {self.balance}원')
        else:
            print(f'{item_name} 물건 구매 실패! 돈이 {price-self.balance}원 부족')
    
    def append(self, cate, name, price):
        if cate == 'work':
            if name not in Wallet.type_names:
                Wallet.type_names.append(name)
                Wallet.type_price.append(price)
            else:
                print(f'{name} 일은 이미 존재합니다')
                return 'error'
        elif cate == 'item':
            if name not in Wallet.item_info.keys():
                Wallet.item_info[name] = price
            else:
                print(f'{name} 물건은 이미 존재합니다.')
                return 'error'
        else:
            print(f'잘못된 카테고리를 입력하셨습니다(work/item)')
            return 'error'

In [70]:
wallet3 = Wallet('lee', '010123', 'busan', 2500000)

In [72]:
wallet3.view_info()

유저 이름은 lee, 생년월일은 010123, 주소는 busan입니다.

In [77]:
wallet3.work('serving')

serving 일 성공, 현재 잔액은 2750000원

In [78]:
wallet3.buy('스탠바이미')

스탠바이미 물건 구매 성공, 잔액은 1750000원

In [79]:
wallet3.buy('디카')

디카 물건 구매 성공, 잔액은 250000원

In [80]:
wallet3.buy('디카')

디카 물건 구매 실패! 돈이 1250000원 부족

In [92]:
wallet3.work('hard_work')

hard_work 일 성공, 현재 잔액은 2050000원

In [93]:
wallet3.buy('디카')

디카 물건 구매 성공, 잔액은 550000원

In [94]:
wallet3.item_list

['스탠바이미', '디카', '디카']

In [95]:
wallet3.append('work', 'serving', 200000)

serving 일은 이미 존재합니다

'error'

In [97]:
wallet3.append('alba', 50000, 30000)

잘못된 alba를 입력하셨습니다(work/item)

'error'

In [98]:
wallet3.append('work','alba',50000)

In [99]:
Wallet.type_names

['serving', 'teaching', 'hard_work', 'alba']

In [100]:
wallet3.work('alba')

alba 일 성공, 현재 잔액은 600000원

In [101]:
wallet3.append('item', '노트북', 900000)

In [102]:
wallet3.buy('노트북')

노트북 물건 구매 실패! 돈이 300000원 부족