#### 특정 경로에 있는 파일의 목록 확인
1. 일반적으로 경로를 설정하고 파일의 이름을 지정하는 방법
    - 상대경로
    - 절대경로
2. 특정 경로에 존재하는 파일의 목록을 확인해서 read_xxx 함수 이용
    - os 라이브러리 이용
    - glob 라이브러리 이용
3. 파일 목록이 정상적으로 불러와진다면 반복문을 이용해 여러 개의 파일을 로드

In [1]:
import os
from glob import glob
import pandas as pd

In [2]:
# os 라이브러리를 이용해 특정 경로에 존재하는 파일 목록 확인
# dir -> 현재 경로의 파일 목록 불러오는 명령어
# list -> 1차원 리스트 데이터
# csv 폴더에 존재하는 파일 목록 확인
os.listdir('../../csv/')

['2014.csv',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 'AAPL.csv',
 'AMZN.csv',
 'BND.csv',
 'campaign_master.csv',
 'class_master.csv',
 'corona.csv',
 'csv_exam.csv',
 'customer_master.csv',
 'dept.csv',
 'drinks.csv',
 'emp.csv',
 'example.csv',
 'GDX.csv',
 'GLD.csv',
 'GM.csv',
 'item_master.csv',
 'Koweps.sav',
 'Koweps_Codebook.xlsx',
 'Koweps_hpc10_2015_beta1.sav',
 'MSFT.csv',
 'num_1',
 'num_2',
 'num_3',
 'Sales Records.csv',
 'SLV.csv',
 'SPY.csv',
 'test_csv',
 'tran_1.csv',
 'tran_2.csv',
 'tran_d_1.csv',
 'tran_d_2.csv',
 'uriage.csv',
 'use_log.csv',
 'USM.csv',
 '주민등록.csv']

In [3]:
# csv 폴더 안의 2017 폴더의 파일 목록 확인
os.listdir('../../csv/2017')

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [4]:
os.listdir('../../csv/2017')[0]

'201701_expense_list.csv'

In [5]:
pd.read_csv('../../csv/2017/201701_expense_list.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                5517 non-null   int64
 1   title              5517 non-null   object
 2   url                5517 non-null   object
 3   dept_nm_lvl_1      5517 non-null   object
 4   dept_nm_lvl_2      5517 non-null   object
 5   dept_nm_lvl_3      4842 non-null   object
 6   dept_nm_lvl_4      1350 non-null   object
 7   dept_nm_lvl_5      252 non-null    object
 8   exec_yr            5517 non-null   int64
 9   exec_month         5517 non-null   int64
 10  expense_budget     274 non-null    float64
 11  expense_execution  202 non-null    float64
 12  category           115 non-null    object
 13  dept_nm_full       5517 non-null   object
 14  exec_dt            5517 non-null   object
 15  exec_loc           5467 non-null   object
 16  exec_purpose       5516 non-null   object
 17  target_nm          5486 non-null   object
 18  payment_method     5514 non-null   object
 19  exec_amount        5517 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 862.2+ KB

In [6]:
pd.read_csv('../../csv/2017/201702_expense_list.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5768 entries, 0 to 5767
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                5768 non-null   int64
 1   title              5768 non-null   object
 2   url                5768 non-null   object
 3   dept_nm_lvl_1      5768 non-null   object
 4   dept_nm_lvl_2      5746 non-null   object
 5   dept_nm_lvl_3      5060 non-null   object
 6   dept_nm_lvl_4      1364 non-null   object
 7   dept_nm_lvl_5      246 non-null    object
 8   exec_yr            5768 non-null   int64
 9   exec_month         5768 non-null   int64
 10  expense_budget     291 non-null    float64
 11  expense_execution  240 non-null    float64
 12  category           85 non-null     object
 13  dept_nm_full       5768 non-null   object
 14  exec_dt            5768 non-null   object
 15  exec_loc           5722 non-null   object
 16  exec_purpose       5757 non-null   object
 17  target_nm          5740 non-null   object
 18  payment_method     5715 non-null   object
 19  exec_amount        5768 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 901.4+ KB

In [7]:
file_list = os.listdir('../../csv/2017')
file_list

['201701_expense_list.csv',
 '201702_expense_list.csv',
 '201703_expense_list.csv',
 '201704_expense_list.csv',
 '201705_expense_list.csv',
 '201706_expense_list.csv',
 '201707_expense_list.csv',
 '201708_expense_list.csv',
 '201709_expense_list.csv',
 '201710_expense_list.csv',
 '201711_expense_list.csv',
 '201712_expense_list.csv']

In [8]:
for file in file_list:
    # file변수 -> file_list 원소(파일명)가 하나씩 대입
    print('../../csv/2017/'+file)

../../csv/2017/201701_expense_list.csv
../../csv/2017/201702_expense_list.csv
../../csv/2017/201703_expense_list.csv
../../csv/2017/201704_expense_list.csv
../../csv/2017/201705_expense_list.csv
../../csv/2017/201706_expense_list.csv
../../csv/2017/201707_expense_list.csv
../../csv/2017/201708_expense_list.csv
../../csv/2017/201709_expense_list.csv
../../csv/2017/201710_expense_list.csv
../../csv/2017/201711_expense_list.csv
../../csv/2017/201712_expense_list.csv

In [9]:
# 함수화 하기 위해 코드 수정
# 경로를 변수에 저장 -> 함수에서 매개변수로 사용
file_path = '../../csv/2017/'

file_list = os.listdir(file_path)

# file_list를 오름차순 정렬 변경
file_list.sort()

# 비어있는 데이터프레임 생성 ->
    # 반복문에서 로드가 되는 데이터프레임을 빈 데이터프레임에 누적 결합
result = pd.DataFrame()

for file in file_list:
    # print(file_path + file)
    df = pd.read_csv(file_path + file)
    # df를 어딘가에(result) 결합(단순 행 결합) -> concat()
    result = pd.concat([result, df])
    # 반복 횟수 1회
        # file -> 201701.csv
        # df -> 201701 데이터프레임
        # 이 때 result -> 빈 데이터프레임
        # result -> 빈 데이터프레임과 201701 데이터프레임이 행결합 -> result에 대입
        # 결과 result -> 201701 데이터프레임
    # 반복 횟수 2회
        # 결과 result -> 201701 + 201702 행결합된 데이터프레임

In [10]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70132 entries, 0 to 7285
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.2+ MB

In [11]:
result.tail(1)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
7285,14292506,2017년 12월 사업소_은평병원_원무과 업무추진비 내역,http://opengov.seoul.go.kr/public/14292506,사업소,은평병원,원무과,NaN,NaN,2017,12,NaN,NaN,NaN,원무과,2017-12-06 18:00,스타벅스(응암동 96-1),전문의 및 전공의 격려 다과회,병원장 외 11명,카드,440000

In [12]:
# 2018년도 폴더의 파일들을 모두 결합하여 하나의 데이터프레임 생성
# result_2018
file_path = '../../csv/2018/'

file_list = os.listdir(file_path)
file_list.sort()

result_2018 = pd.DataFrame()

for file in file_list:
    df = pd.read_csv(file_path + file)
    result_2018 = pd.concat([result_2018, df])

result_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72218 entries, 0 to 7704
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                72218 non-null  int64
 1   title              72218 non-null  object
 2   url                72218 non-null  object
 3   dept_nm_lvl_1      72218 non-null  object
 4   dept_nm_lvl_2      72082 non-null  object
 5   dept_nm_lvl_3      62830 non-null  object
 6   dept_nm_lvl_4      19754 non-null  object
 7   dept_nm_lvl_5      3400 non-null   object
 8   exec_yr            72218 non-null  int64
 9   exec_month         72218 non-null  int64
 10  expense_budget     2893 non-null   float64
 11  expense_execution  2210 non-null   float64
 12  category           1726 non-null   object
 13  dept_nm_full       72218 non-null  object
 14  exec_dt            72218 non-null  object
 15  exec_loc           71523 non-null  object
 16  exec_purpose       72218 non-null  object
 17  target_nm          71997 non-null  object
 18  payment_method     72218 non-null  object
 19  exec_amount        72218 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.6+ MB

In [ ]:
# result_2019
# json 파일 .json
file_path = '../../csv/2019/'

file_list = os.listdir(file_path)
file_list.sort()

result_2019 = pd.DataFrame()

for file in file_list:
    df = pd.read_json(file_path + file)
    result_2019 = pd.concat([result_2019, df])

result_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74207 entries, 0 to 7843
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.9+ MB

In [ ]:
# result_2020
# 엑셀 파일 .xlsx
file_path = '../../csv/2020/'

file_list = os.listdir(file_path)
file_list.sort()

result_2020 = pd.DataFrame()

for file in file_list:
    df = pd.read_excel(file_path + file)
    result_2020 = pd.concat([result_2020, df])

result_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70862 entries, 0 to 7814
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70862 non-null  int64
 1   title              70862 non-null  object
 2   url                70862 non-null  object
 3   dept_nm_lvl_1      70862 non-null  object
 4   dept_nm_lvl_2      70862 non-null  object
 5   dept_nm_lvl_3      55593 non-null  object
 6   dept_nm_lvl_4      18992 non-null  object
 7   dept_nm_lvl_5      1601 non-null   object
 8   exec_yr            70862 non-null  int64
 9   exec_month         70862 non-null  int64
 10  expense_budget     1823 non-null   float64
 11  expense_execution  1338 non-null   float64
 12  category           2123 non-null   object
 13  dept_nm_full       70862 non-null  object
 14  exec_dt            70862 non-null  object
 15  exec_loc           70278 non-null  object
 16  exec_purpose       70862 non-null  object
 17  target_nm          70488 non-null  object
 18  payment_method     70862 non-null  object
 19  exec_amount        70862 non-null  int64
 20  bimok              283 non-null    object
dtypes: float64(2), int64(4), object(15)
memory usage: 11.9+ MB

In [21]:
# result_2021
# csv, json, xml, xlsx 파일이 섞여 들어있는 폴더
file_path = '../../csv/2021/'

file_list = os.listdir(file_path)
file_list.sort()

result_2021 = pd.DataFrame()
file_tail = 'csv'

# csv 파일만 따로 리스트에 저장
file_csv = []
for file in file_list:
    # 조건: 확장자가 file_tail과 같다면
    # 확장자 확인 방법: 문자열에서 마지막의 문자와 같은가?
    # endswith()
    if file.endswith(file_tail):
        file_csv.append(file)
file_csv

for file in file_csv:
    df = pd.read_csv(file_path + file)
    result_2021 = pd.concat([result_2021, df])

result_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83819 entries, 0 to 10343
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                83819 non-null  int64
 1   title              83819 non-null  object
 2   url                83819 non-null  object
 3   dept_nm_lvl_1      83819 non-null  object
 4   dept_nm_lvl_2      83819 non-null  object
 5   dept_nm_lvl_3      67930 non-null  object
 6   dept_nm_lvl_4      24831 non-null  object
 7   dept_nm_lvl_5      1473 non-null   object
 8   exec_yr            83819 non-null  int64
 9   exec_month         83819 non-null  int64
 10  expense_budget     60524 non-null  float64
 11  expense_execution  60524 non-null  float64
 12  category           980 non-null    object
 13  dept_nm_full       83819 non-null  object
 14  exec_dt            83819 non-null  object
 15  exec_loc           83185 non-null  object
 16  exec_purpose       83819 non-null  object
 17  target_nm          83467 non-null  object
 18  payment_method     83819 non-null  object
 19  exec_amount        83819 non-null  int64
 20  bimok              18427 non-null  object
dtypes: float64(2), int64(4), object(15)
memory usage: 14.1+ MB

In [22]:
# result_2021
# csv, json, xml, xlsx 파일이 섞여 들어있는 폴더
file_path = '../../csv/2021/'

file_list = os.listdir(file_path)
file_list.sort()

result_2021 = pd.DataFrame()
file_tail = 'json'

# csv 파일만 따로 리스트에 저장
file_json = []
for file in file_list:
    # split() 함수를 이용해 확장자 확인
    # ex) 'a.json' -> split('.') -> ['a', 'json']
    # 인덱스 -1 사용
    if file.split('.')[-1] == file_tail:
        file_json.append(file)
file_json

for file in file_json:
    df = pd.read_json(file_path + file)
    result_2021 = pd.concat([result_2021, df])

result_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83819 entries, 0 to 10343
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                83819 non-null  int64
 1   title              83819 non-null  object
 2   url                83819 non-null  object
 3   dept_nm_lvl_1      83819 non-null  object
 4   dept_nm_lvl_2      83819 non-null  object
 5   dept_nm_lvl_3      83819 non-null  object
 6   dept_nm_lvl_4      83819 non-null  object
 7   dept_nm_lvl_5      83819 non-null  object
 8   exec_yr            83819 non-null  int64
 9   exec_month         83819 non-null  int64
 10  expense_budget     60524 non-null  float64
 11  expense_execution  60524 non-null  float64
 12  category           83819 non-null  object
 13  dept_nm_full       83819 non-null  object
 14  exec_dt            83819 non-null  object
 15  exec_loc           83819 non-null  object
 16  exec_purpose       83819 non-null  object
 17  target_nm          83819 non-null  object
 18  payment_method     83819 non-null  object
 19  exec_amount        83819 non-null  int64
 20  bimok              19411 non-null  object
dtypes: float64(2), int64(4), object(15)
memory usage: 14.1+ MB

In [ ]:
# file_test에서 특정 확장자를 제외하고 제거(remove())

file_tail = 'xlsx'
# file_list 복사본 생성
file_list2 = file_list.copy()

for file in file_list:      # file_list2를 사용하면 밑의 remove 시 건너뛰는 리스트 원소 생김
    if file.split('.')[-1] != file_tail:
        file_list2.remove(file)
file_list2

['202101_expense_list.xlsx',
 '202102_expense_list.xlsx',
 '202103_expense_list.xlsx',
 '202104_expense_list.xlsx',
 '202105_expense_list.xlsx',
 '202106_expense_list.xlsx',
 '202107_expense_list.xlsx',
 '202108_expense_list.xlsx',
 '202109_expense_list.xlsx',
 '202110_expense_list.xlsx',
 '202111_expense_list.xlsx',
 '202112_expense_list.xlsx']

In [ ]:
# 특정 경로에 존재하는 데이터 파일을 로드하여 하나의 데이터프레임으로 생성해주는 함수
# 매개변수 2개 -> 파일의 경로, 파일 확장자, 인코딩엔진(기본값: utf-8)
def dir_data_df(file_path, file_tail, engine = 'utf-8'):
    # file_path의 마지막에 '/' 없으면 에러 발생 -> '/' 임의로 추가
    file_path = file_path + '/'
    # 인자로 전달받은 file_path를 기준으로 파일 목록 생성
    file_list = os.listdir(file_path)
    file_list.sort()

    result = pd.DataFrame()

    # 확장자가 file_path인 파일만 따로 리스트에 저장
    new_list = []
    for file in file_list:
        # 조건: 확장자가 file_tail과 같다면
        # 확장자 확인 방법: 문자열에서 마지막의 문자와 같은가?
        # endswith()
        if file.endswith(file_tail):
            new_list.append(file)

    for file2 in new_list:
        # file_tail에 따라 read 함수 변경
        if file_tail == 'csv':
            df = pd.read_csv(file_path + file2, encoding=engine)
        elif file_tail == 'json':
            df = pd.read_json(file_path + file2, encoding=engine)
        elif file_tail == 'xml':
            df = pd.read_xml(file_path + file2, encoding=engine)
        # elif (file_tail == 'xlsx') | (file_tail == 'xls'):
        elif file_tail in ['xlsx', 'xls']:
            df = pd.read_excel(file_path + file2)       # 엑셀은 인코딩 엔진 없음
        else:
            print('확장자명 잘못 입력(csv, json, xml, excel 사용 가능)')
            return ""
        
        # result에 누적 행 결합
        result = pd.concat([result, df])
        print(f'{file2} 데이터 행결합 완료')    # 각 파일 정상 로드 확인
    # 인덱스 초기화, 기존 인덱스 제거
    result.reset_index(drop=True, inplace=True)
    
    return result

In [ ]:
dir_data_df('../../csv/2017', 'csv').info()

201701_expense_list.csv 데이터 행결합 완료
201702_expense_list.csv 데이터 행결합 완료
201703_expense_list.csv 데이터 행결합 완료
201704_expense_list.csv 데이터 행결합 완료
201705_expense_list.csv 데이터 행결합 완료
201706_expense_list.csv 데이터 행결합 완료
201707_expense_list.csv 데이터 행결합 완료
201708_expense_list.csv 데이터 행결합 완료
201709_expense_list.csv 데이터 행결합 완료
201710_expense_list.csv 데이터 행결합 완료
201711_expense_list.csv 데이터 행결합 완료
201712_expense_list.csv 데이터 행결합 완료
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB