In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('C:\\ubion\\csv\\AAPL.csv')

In [ ]:
df2 = pd.read_csv('C:/ubion/csv/AAPL.csv')

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 = pd.read_csv(r'C:\ubion\csv\AAPL.csv')

In [ ]:
df1

In [10]:
df3 = pd.read_csv('../../csv/AAPL.csv')

In [11]:
df3

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...,...
9710,2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
9711,2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
9712,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
9713,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
9714,2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [12]:
df3.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.369472   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.380182   18362400.0

In [13]:
pd.read_json('../../csv/2021/202101_expense_list.json')

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 관리과,2021-01-25 00:00,,소속직원 경조사비,"김광옥, 김용성",현금,100000,None
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,,카드,90000,None
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,None
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,,제로페이,48000,None
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,,,2021,1,...,NaN,,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,,카드,75000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4873,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,,,2021,1,...,NaN,,주택건축본부 지역건축안전센터,2021-01-06 12:33,곰비임비(중구 세종대로11길 45),중소형 민간건축공사장 안전대책 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,35000,None
4874,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,,,2021,1,...,NaN,,주택건축본부 지역건축안전센터,2021-01-05 18:25,본죽&비빔밥(중구 세종대로 80),소규모 노후 건축물 안전점검 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,21000,None
4875,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,,,2021,1,...,NaN,,주택건축본부 지역건축안전센터,2021-01-04 12:35,크레이지후라이(중구 서소문로 124),겨울방학 아르바이트 대학생 격려 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,40000,None
4876,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,,2021,1,...,NaN,,중부수도 요금과,2021-01-27 15:19,가메골에프엔비㈜(중구 남대문시장4길 42),부서 직원 교육 및 신년간담회,요금과 직원 20명,카드,64000,None
4877,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,,2021,1,...,NaN,,중부수도 요금과,2021-01-22 00:00,추어탕(중구 다산로 75 3층),간부 신년간담회,소장외 3명,카드,36000,None

In [14]:
pd.read_excel('../../csv/2021/202101_expense_list.xlsx')

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 관리과,2021-01-25 00:00,NaN,소속직원 경조사비,"김광옥, 김용성",현금,100000,NaN
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,90000,NaN
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,NaN
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,NaN,제로페이,48000,NaN
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,75000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4873,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-06 12:33,곰비임비(중구 세종대로11길 45),중소형 민간건축공사장 안전대책 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,35000,NaN
4874,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-05 18:25,본죽&비빔밥(중구 세종대로 80),소규모 노후 건축물 안전점검 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,21000,NaN
4875,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-04 12:35,크레이지후라이(중구 서소문로 124),겨울방학 아르바이트 대학생 격려 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,40000,NaN
4876,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-27 15:19,가메골에프엔비㈜(중구 남대문시장4길 42),부서 직원 교육 및 신년간담회,요금과 직원 20명,카드,64000,NaN
4877,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-22 00:00,추어탕(중구 다산로 75 3층),간부 신년간담회,소장외 3명,카드,36000,NaN

In [16]:
pd.read_csv('../../csv/주민등록.csv', encoding='cp949')

,자치구코드(atdrc_code_se),자치구명(atdrc_nm),년월(년월),총인구수(tot_popltn_co),세대수(tot_hshld_co),세대당인구(hshld_popltn_avrg_co),남자인구수(male_popltn_co),여자인구수(female_popltn_co),적재일시(ldadng_dt)
0,금천구,11110,201907,228755,171426,2.44,319062,118352,2018-01-05 16:52:25
1,서대문구,11290,201607,153780,186744,2.12,75614,116393,2018-12-05 10:20:57
2,양천구,11740,201804,594315,61091,2.22,192817,307237,2020-11-03 10:50:11
3,은평구,11200,202004,345156,168865,2.13,229690,204108,2018-01-05 16:52:25
4,마포구,11260,201902,394788,168482,2.52,61714,146951,2018-01-05 16:52:25
5,도봉구,11350,201704,150732,61069,2.39,60735,199831,2018-01-05 16:52:25
6,강북구,11410,202008,404501,174263,2.25,184053,172995,2018-01-05 16:52:25
7,용산구,11620,201407,433658,173943,1.85,252383,198754,2018-01-05 16:52:25
8,관악구,11140,201710,308087,180747,2.01,192923,245902,2021-01-21 15:43:29
9,동대문구,11470,201806,447667,162606,2.49,215440,64221,2020-07-22 20:11:55
10,양천구,11200,201504,559697,109708,2.36,237588,75262,2019-04-22 14:53:02
11,광진구,11260,201704,379339,126579,2.34,110605,174332,2018-01-05 16:52:25
12,관악구,11440,201906,431423,177247,2.65,233214,192414,2018-01-05 16:52:25
13,서초구,11500,201712,234627,144805,2.46,172446,332802,2019-09-05 14:06:33
14,강남구,11380,201712,451253,63851,2.62,320480,177158,2021-06-21 11:02:17
15,강남구,11305,201904,542576,173142,2.54,60139,243251,2020-11-03 10:50:11
16,종로구,11470,201505,442119,248840,2.19,157312,61327,2019-04-22 14:53:02
17,광진구,11350,202001,226161,159500,2.08,232838,158869,2019-03-11 09:30:24
18,구로구,11410,201504,126270,172505,2.26,74025,284150,2019-08-05 09:45:14
19,노원구,11170,201412,233017,243049,2.40,117497,298131,2020-11-03 10:50:11
20,중랑구,11470,201807,421579,133458,1.99,206423,182741,2018-01-05 16:52:25
21,도봉구,11380,201408,483473,167301,2.03,225186,204424,2020-07-22 20:11:55
22,성동구,11545,201805,300410,269220,2.64,74662,197070,2018-12-05 10:20:57
23,구로구,11320,201505,305785,136393,2.62,187960,177515,2019-03-11 09:30:24
24,서초구,11440,201704,405271,135147,2.11,150937,148298,2018-11-05 09:53:36
25,강서구,11410,201712,378199,185610,2.46,157743,78354,2018-01-05 16:52:25
26,금천구,11440,202007,218929,259692,2.34,255912,285095,2018-01-05 16:52:25
27,노원구,11710,201409,373252,138984,2.23,258407,204359,2018-01-05 16:52:25
28,은평구,11170,201404,149524,229712,2.57,167155,162829,2018-01-05 16:52:25
29,노원구,11680,201708,478019,100534,2.18,278171,61187,2018-01-05 16:52:25

In [18]:
pd.read_xml('../../csv/2021/202101_expense_list.xml')

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,None,None,2021,1,...,NaN,None,중랑물재생센터 관리과,2021-01-25 00:00,None,소속직원 경조사비,"김광옥, 김용성",현금,100000,None
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,None,None,2021,1,...,NaN,None,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,None,카드,90000,None
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,None,None,2021,1,...,NaN,None,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,None
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,None,None,2021,1,...,NaN,None,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,None,제로페이,48000,None
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,None,None,2021,1,...,NaN,None,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,None,카드,75000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4873,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,None,None,2021,1,...,NaN,None,주택건축본부 지역건축안전센터,2021-01-06 12:33,곰비임비(중구 세종대로11길 45),중소형 민간건축공사장 안전대책 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,35000,None
4874,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,None,None,2021,1,...,NaN,None,주택건축본부 지역건축안전센터,2021-01-05 18:25,본죽&비빔밥(중구 세종대로 80),소규모 노후 건축물 안전점검 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,21000,None
4875,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,None,None,2021,1,...,NaN,None,주택건축본부 지역건축안전센터,2021-01-04 12:35,크레이지후라이(중구 서소문로 124),겨울방학 아르바이트 대학생 격려 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,40000,None
4876,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,None,2021,1,...,NaN,None,중부수도 요금과,2021-01-27 15:19,가메골에프엔비㈜(중구 남대문시장4길 42),부서 직원 교육 및 신년간담회,요금과 직원 20명,카드,64000,None
4877,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,None,2021,1,...,NaN,None,중부수도 요금과,2021-01-22 00:00,추어탕(중구 다산로 75 3층),간부 신년간담회,소장외 3명,카드,36000,None

In [19]:
data = [
    [1,2,np.nan,4,5],
    [1,np.nan,3,4,5],
    [1,2,3,np.nan,5]
]
cols = ['s1', 's2', 's3', 's4', 's5']

In [20]:
df = pd.DataFrame(data, columns=cols)

In [21]:
df

   s1   s2   s3   s4  s5
0   1  2.0  NaN  4.0   5
1   1  NaN  3.0  4.0   5
2   1  2.0  3.0  NaN   5

In [22]:
np.nan == np.nan

False

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      3 non-null      int64
 1   s2      2 non-null      float64
 2   s3      2 non-null      float64
 3   s4      2 non-null      float64
 4   s5      3 non-null      int64
dtypes: float64(3), int64(2)
memory usage: 248.0 bytes

In [24]:
df.isna()

      s1     s2     s3     s4     s5
0  False  False   True  False  False
1  False   True  False  False  False
2  False  False  False   True  False

In [28]:
df['s2'].isna()

0    False
1     True
2    False
Name: s2, dtype: bool

In [29]:
sum(df.isna().values)

array([0, 1, 1, 1, 0])

In [31]:
sum(sum(df.isna().values))

np.int64(3)

In [30]:
df.isna().values.sum()

np.int64(3)

In [32]:
df.isna().sum(axis=1)

0    1
1    1
2    1
dtype: int64

In [33]:
df.isna().sum()

s1    0
s2    1
s3    1
s4    1
s5    0
dtype: int64

In [34]:
df.isna().any()

s1    False
s2     True
s3     True
s4     True
s5    False
dtype: bool

In [35]:
df.isna().any(axis=1)

0    True
1    True
2    True
dtype: bool

In [36]:
df

   s1   s2   s3   s4  s5
0   1  2.0  NaN  4.0   5
1   1  NaN  3.0  4.0   5
2   1  2.0  3.0  NaN   5

In [ ]:
df.dropna(axis=0)   # 기본값

Empty DataFrame
Columns: [s1, s2, s3, s4, s5]
Index: []

In [39]:
df.dropna(axis=1)

   s1  s5
0   1   5
1   1   5
2   1   5

In [40]:
df

   s1   s2   s3   s4  s5
0   1  2.0  NaN  4.0   5
1   1  NaN  3.0  4.0   5
2   1  2.0  3.0  NaN   5

In [41]:
df.fillna(10)

   s1    s2    s3    s4  s5
0   1   2.0  10.0   4.0   5
1   1  10.0   3.0   4.0   5
2   1   2.0   3.0  10.0   5

In [42]:
df.fillna(method='ffill')

C:\Users\toqha\AppData\Local\Temp\ipykernel_17236\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

   s1   s2   s3   s4  s5
0   1  2.0  NaN  4.0   5
1   1  2.0  3.0  4.0   5
2   1  2.0  3.0  4.0   5

In [43]:
df.fillna(method='bfill')

C:\Users\toqha\AppData\Local\Temp\ipykernel_17236\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

   s1   s2   s3   s4  s5
0   1  2.0  3.0  4.0   5
1   1  2.0  3.0  4.0   5
2   1  2.0  3.0  NaN   5

In [44]:
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = [1,4,7]
cols = ['a','b','c']

In [45]:
df = pd.DataFrame(data, index=idx, columns=cols)

In [46]:
df

   a  b  c
1  1  2  3
4  4  5  6
7  7  8  9

In [63]:
df.loc[4]

a    4
b    5
c    6
Name: 4, dtype: int64

In [49]:
df.loc[4, 'a']

np.int64(4)

In [54]:
df.iloc[2, ]

a    7
b    8
c    9
Name: 7, dtype: int64

In [55]:
df.iloc[-1,-1]

np.int64(9)

In [57]:
df.loc[[4]]

   a  b  c
4  4  5  6

In [60]:
type(df.iloc[[1]])

pandas.core.frame.DataFrame

In [66]:
df.loc[ :,['a']]

   a
1  1
4  4
7  7

In [68]:
df.iloc[:, :]

   a  b  c
1  1  2  3
4  4  5  6
7  7  8  9