In [56]:
import pandas as pd

In [57]:
corona = pd.read_csv('../../csv/corona.csv')

In [58]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [59]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [60]:
corona.tail()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [61]:
corona.drop(['Unnamed: 0', 'seq'], axis=1, inplace=True)

In [62]:
corona

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [63]:
corona.index

RangeIndex(start=0, stop=820, step=1)

In [64]:
corona.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'stateDt', 'stateTime', 'updateDt',
       'accExamCnt', 'accDefRate'],
      dtype='object')

In [65]:
corona.rename(
    columns={
        'createDt' : '등록일시',
        'deathCnt' : '총사망자',
        'decideCnt' : '총확진자',
        'stateDt' : '기준일',
        'stateTime' : '기준시간',
        'updateDt' : '수정일시',
        'accExamCnt' : '누적의심자',
        'accDefRate' : '누적확진율'
    },
    inplace=True
)

In [66]:
corona.columns

Index(['등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율'], dtype='object')

In [67]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [68]:
df = corona.copy()

In [69]:
df['누적의심자']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
815    261335.0
816    248647.0
817    234998.0
818    222395.0
819    210144.0
Name: 누적의심자, Length: 820, dtype: float64

In [70]:
flag = df['누적의심자'].isna()

In [71]:
df.loc[flag, '등록일시']

0      2022-06-08 09:09:05.982
1      2022-06-07 09:09:00.897
2      2022-06-06 09:00:06.734
3      2022-06-05 08:53:19.426
4      2022-06-04 08:56:49.219
                ...
123    2022-02-05 10:25:08.782
124    2022-02-04 08:58:40.476
125    2022-02-03 08:46:14.856
126     2022-02-02 09:04:49.92
127    2022-02-01 09:06:24.411
Name: 등록일시, Length: 128, dtype: object

In [72]:
df.loc[128, '등록일시']

'2022-01-31 09:22:37.347'

In [73]:
flag2 = df['누적확진율'].isna()

In [74]:
df.loc[flag2, '등록일시']

0      2022-06-08 09:09:05.982
1      2022-06-07 09:09:00.897
2      2022-06-06 09:00:06.734
3      2022-06-05 08:53:19.426
4      2022-06-04 08:56:49.219
                ...
192    2021-11-28 08:58:53.394
193    2021-11-27 09:32:36.026
194    2021-11-26 09:03:03.973
195    2021-11-25 09:00:47.897
196    2021-11-24 09:08:22.071
Name: 등록일시, Length: 197, dtype: object

In [75]:
df.sort_values(['등록일시'], inplace=True)

In [76]:
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [77]:
df.reset_index(drop=True, inplace=True)
df

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [ ]:
df.loc[1, '총사망자'] - df.loc[0, '총사망자']       # 60-54

np.int64(6)

In [80]:
datas= [0]

for i in range(1, len(df)):
    data = df.loc[i, '총사망자'] - df.loc[i-1, '총사망자']
    datas.append(data)

In [81]:
datas

[0,
 np.int64(6),
 np.int64(6),
 np.int64(1),
 np.int64(5),
 np.int64(3),
 np.int64(0),
 np.int64(6),
 np.int64(3),
 np.int64(7),
 np.int64(3),
 np.int64(8),
 np.int64(2),
 np.int64(7),
 np.int64(9),
 np.int64(6),
 np.int64(5),
 np.int64(8),
 np.int64(5),
 np.int64(8),
 np.int64(6),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(6),
 np.int64(3),
 np.int64(6),
 np.int64(8),
 np.int64(4),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(5),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(5),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(2),
 np.int64(5),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(0),
 np.int64(5),
 np.int64(5),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(3),
 np.int64(0),
 np.int64(5),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(5),
 np.int64(1),
 np.int64(6),
 np.int64(2),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(0),
 np.int64(3),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(5),
 np.int64(2),
 np.int64(0),
 np.int64(1),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(0),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(2),
 np.int64(2),
 np.int64(4),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(1),
 np.int64(3),
 np.int64(0),
 np.int64(0),
 np.int64(3),
 np.int64(7),
 np.int64(4),
 np.int64(5),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(8),
 np.int64(8),
 np.int64(6),
 np.int64(2),
 np.int64(7),
 np.int64(13),
 np.int64(12),
 np.int64(22),
 np.int64(11),
 np.int64(14),
 np.int64(15),
 np.int64(24),
 np.int64(24),
 np.int64(17),
 np.int64(17),
 np.int64(17),
 np.int64(20),
 np.int64(15),
 np.int64(11),
 np.int64(40),
 np.int64(20),
 np.int64(21),
 np.int64(17),
 np.int64(25),
 np.int64(20),
 np.int64(19),
 np.int64(26),
 np.int64(20),
 np.int64(19),
 np.int64(35),
 np.int64(19),
 np.int64(25),
 np.int64(15),
 np.int64(25),
 np.int64(20),
 np.int64(10),
 np.int64(22),
 np.int64(19),
 np.int64(13),
 np.int64(15),
 np.int64(19),
 np.int64(17),
 np.int64(16),
 np.int64(12),
 np.int64(9),
 np.int64(12),
 np.int64(11),
 np.int64(11),
 np.int64(7),
 np.int64(8),
 np.int64(13),
 np.int64(15),
 np.int64(6),
 np.int64(5),
 np.int64(10),
 np.int64(6),
 np.int64(7),
 np.int64(11),
 np.int64(5),
 np.int64(7),
 np.int64(3),
 np.int64(8),
 np.int64(4),
 np.int64(10),
 np.int64(11),
 np.int64(7),
 np.int64(8),
 np.int64(5),
 np.int64(7),
 np.int64(4),
 np.int64(6),
 np.int64(6),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(11),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(10),
 np.int64(8),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(5),
 np.int64(2),
 np.int64(8),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(10),
 np.int64(5),
 np.int64(2),
 np.int64(6),
 np.int64(3),
 np.int64(8),
 np.int64(2),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(7),
 np.int64(3),
 np.int64(2),
 np.int64(7),
 np.int64(5),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(4),
 np.int64(4),
 np.int64(4),
 np.int64(2),
 np.int64(6),
 np.int64(1),
 np.int64(3),
 np.int64(2),
 np.int64(5),
 np.int64(7),
 np.int64(6),
 np.int64(2),
 np.int64(4),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(1),
 np.int64(4),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(1),
 np.int64(6),
 np.int64(7),
 np.int64(4),
 np.int64(9),
 np.int64(5),
 np.int64(9),
 np.int64(1),
 np.int64(4),
 np.int64(5),
 np.int64(7),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(1),
 np.int64(8),
 np.int64(4),
 np.int64(6),
 np.int64(4),
 np.int64(5),
 np.int64(3),
 np.int64(4),
 np.int64(2),
 np.int64(3),
 np.int64(3),
 np.int64(5),
 np.int64(8),
 np.int64(-2),
 np.int64(6),
 np.int64(2),
 np.int64(3),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(3),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(4),
 np.int64(1),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(5),
 np.int64(1),
 np.int64(2),
 np.int64(2),
 np.int64(2),
 np.int64(1),
 np.int64(4),
 np.int64(2),
 np.int64(1),
 np.int64(1),
 np.int64(1),
 np.int64(3),
 np.int64(3),
 np.int64(2),
 np.int64(5),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(2),
 np.int64(4),
 np.int64(6),
 np.int64(3),
 np.int64(1),
 np.int64(5),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(3),
 np.int64(5),
 np.int64(4),
 np.int64(9),
 np.int64(1),
 np.int64(3),
 np.int64(6),
 np.int64(4),
 np.int64(8),
 np.int64(11),
 np.int64(6),
 np.int64(5),
 np.int64(13),
 np.int64(6),
 np.int64(5),
 np.int64(13),
 np.int64(7),
 np.int64(6),
 np.int64(9),
 np.int64(20),
 np.int64(8),
 np.int64(11),
 np.int64(3),
 np.int64(5),
 np.int64(1),
 np.int64(7),
 np.int64(11),
 np.int64(5),
 np.int64(7),
 np.int64(6),
 np.int64(6),
 np.int64(3),
 np.int64(4),
 np.int64(9),
 np.int64(5),
 np.int64(10),
 np.int64(1),
 np.int64(1),
 np.int64(7),
 np.int64(13),
 np.int64(6),
 np.int64(3),
 np.int64(5),
 np.int64(9),
 np.int64(6),
 np.int64(4),
 np.int64(6),
 np.int64(8),
 np.int64(7),
 np.int64(7),
 np.int64(9),
 np.int64(6),
 np.int64(8),
 np.int64(10),
 np.int64(7),
 np.int64(16),
 np.int64(7),
 np.int64(3),
 np.int64(6),
 np.int64(11),
 np.int64(12),
 np.int64(8),
 np.int64(10),
 np.int64(6),
 np.int64(15),
 np.int64(8),
 np.int64(11),
 np.int64(11),
 np.int64(13),
 np.int64(8),
 np.int64(18),
 np.int64(16),
 np.int64(8),
 np.int64(21),
 np.int64(9),
 np.int64(11),
 np.int64(16),
 np.int64(20),
 np.int64(21),
 np.int64(7),
 np.int64(15),
 np.int64(9),
 np.int64(11),
 np.int64(9),
 np.int64(13),
 np.int64(19),
 np.int64(9),
 np.int64(16),
 np.int64(18),
 np.int64(24),
 np.int64(20),
 np.int64(20),
 np.int64(11),
 np.int64(13),
 np.int64(18),
 np.int64(14),
 np.int64(21),
 np.int64(18),
 np.int64(32),
 np.int64(20),
 np.int64(12),
 np.int64(22),
 np.int64(21),
 np.int64(29),
 np.int64(28),
 np.int64(29),
 np.int64(30),
 np.int64(24),
 np.int64(30),
 np.int64(34),
 np.int64(39),
 np.int64(39),
 np.int64(52),
 np.int64(56),
 np.int64(32),
 np.int64(44),
 np.int64(34),
 np.int64(47),
 np.int64(34),
 np.int64(70),
 np.int64(43),
 np.int64(41),
 np.int64(64),
 np.int64(63),
 np.int64(57),
 np.int64(53),
 np.int64(80),
 np.int64(42),
 np.int64(40),
 np.int64(94),
 np.int64(70),
 np.int64(62),
 np.int64(73),
 np.int64(53),
 np.int64(78),
 np.int64(54),
 np.int64(52),
 np.int64(78),
 np.int64(109),
 np.int64(56),
 np.int64(105),
 np.int64(69),
 np.int64(55),
 np.int64(46),
 np.int64(36),
 np.int64(73),
 np.int64(108),
 np.int64(62),
 np.int64(69),
 np.int64(36),
 np.int64(51),
 np.int64(57),
 np.int64(49),
 np.int64(45),
 np.int64(54),
 np.int64(51),
 np.int64(34),
 np.int64(43),
 np.int64(52),
 np.int64(44),
 np.int64(49),
 np.int64(22),
 np.int64(29),
 np.int64(23),
 np.int64(45),
 np.int64(74),
 np.int64(28),
 np.int64(21),
 np.int64(28),
 np.int64(11),
 np.int64(25),
 np.int64(23),
 np.int64(32),
 np.int64(34),
 np.int64(24),
 np.int64(34),
 np.int64(20),
 np.int64(23),
 np.int64(17),
 np.int64(15),
 np.int64(25),
 np.int64(24),
 np.int64(22),
 np.int64(15),
 np.int64(13),
 np.int64(36),
 np.int64(21),
 np.int64(20),
 np.int64(49),
 np.int64(33),
 np.int64(36),
 np.int64(21),
 np.int64(61),
 np.int64(39),
 np.int64(36),
 np.int64(45),
 np.int64(71),
 np.int64(51),
 np.int64(45),
 np.int64(58),
 np.int64(99),
 np.int64(82),
 np.int64(94),
 np.int64(112),
 np.int64(49),
 np.int64(114),
 np.int64(112),
 np.int64(96),
 np.int64(128),
 np.int64(186),
 np.int64(216),
 np.int64(161),
 np.int64(139),
 np.int64(186),
 np.int64(158),
 np.int64(206),
 np.int64(229),
 np.int64(269),
 np.int64(251),
 np.int64(200),
 np.int64(293),
 np.int64(164),
 np.int64(429),
 np.int64(301),
 np.int64(319),
 np.int64(327),
 np.int64(329),
 np.int64(384),
 np.int64(291),
 np.int64(469),
 np.int64(393),
 np.int64(323),
 np.int64(282),
 np.int64(287),
 np.int64(237),
 np.int64(432),
 np.int64(375),
 np.int64(360),
 np.int64(339),
 np.int64(306),
 np.int64(218),
 np.int64(209),
 np.int64(371),
 np.int64(348),
 np.int64(373),
 np.int64(338),
 np.int64(329),
 np.int64(258),
 np.int64(171),
 np.int64(184),
 np.int64(318),
 np.int64(264),
 np.int64(273),
 np.int64(203),
 np.int64(132),
 np.int64(130),
 np.int64(166),
 np.int64(147),
 np.int64(206),
 np.int64(151),
 np.int64(109),
 np.int64(110),
 np.int64(82),
 np.int64(141),
 np.int64(122),
 np.int64(136),
 np.int64(70),
 np.int64(81),
 np.int64(83),
 np.int64(49),
 np.int64(72),
 np.int64(79),
 np.int64(48),
 np.int64(83),
 np.int64(71),
 np.int64(40),
 np.int64(62),
 np.int64(29),
 np.int64(63),
 np.int64(52),
 np.int64(55),
 np.int64(48),
 np.int64(35),
 np.int64(27),
 np.int64(31),
 np.int64(40),
 np.int64(43),
 np.int64(26),
 np.int64(54),
 np.int64(22),
 np.int64(19),
 np.int64(23),
 np.int64(34),
 np.int64(40),
 np.int64(36),
 np.int64(19),
 np.int64(9),
 np.int64(9),
 np.int64(21),
 np.int64(15),
 np.int64(17),
 np.int64(9),
 np.int64(20),
 np.int64(21),
 np.int64(20),
 np.int64(6)]

In [82]:
len(datas)

820

In [84]:
len(df)

820

In [85]:
df['일일사망자'] = datas

In [86]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5

In [91]:
col = df.pop('일일사망자')
col

0       0
1       6
2       6
3       1
4       5
       ..
815     9
816    20
817    21
818    20
819     6
Name: 일일사망자, Length: 820, dtype: int64

In [93]:
df.head(2)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175