### 파이썬 & Mysql 연결
- pymysql 라이브러리 사용

In [ ]:
# 라이브러리 설치
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [1]:
# 라이브러리 로드
import pymysql

In [2]:
# DB server와 연결
_db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,    # mysql 포트 번호
    user = 'root',
    password = '1234',
    db = 'ubion'
)

In [3]:
# cursor(커서)라는 가상 공간 생성 (임시 저장소)
cursor = _db.cursor()
# 기본값 cursor -> ( (), (), () ) 형식으로 데이터 가져옴
cursor2 = _db.cursor(pymysql.cursors.DictCursor)    
# DictCursor -> [ {}, {}, {} ] 형식으로 데이터 가져옴

In [4]:
# 긴 텍스트 -> """ ~ """ 따옴표 세개 사용
insert_query = '''
    INSERT INTO `user_info` 
    values ('test10', '0000', 'lee', 30)
'''

In [5]:
cursor.execute(insert_query)

IntegrityError: (1062, "Duplicate entry 'test10' for key 'user_info.PRIMARY'")

In [6]:
select_query = '''
    SELECT * FROM `user_info`
'''

In [16]:
cursor.execute(select_query)

4

In [17]:
cursor.fetchall()       # select 조회 결과값 가져옴(입력값 필요X)

(('test', '1234', 'kim', 30),
 ('test10', '0000', 'lee', 30),
 ('test2', '0000', 'park', 20),
 ('test3', '9999', 'lee', 50))

In [ ]:
# mysql에서 user_info 테이블 확인
# 여기까지는 아직 DB가 바뀌지 않음
# commit 필요

In [12]:
# DB server에 cursor의 내용 동기화(입력값 필요X)
_db.commit()

In [13]:
# DB server와의 연결 종료
_db.close()