In [4]:
# 변수 생성
# 변수명 = 데이터
a = "text"
# a 변수를 출력
print(a)
# a의 데이터 타입 출력
print(type(a))

text
<class 'str'>

In [ ]:
# 산술연산자
x =10
y = 3

# 사칙연산
print(x + y)
print(x - y)
print(x * y)
print(x / y)
# 나눈 값의 몫 출력
print(x // y)
# 나눈 값의 나머지 출력
print(x % y)
# 지수 승
print(x ** y)

13
7
30
3.3333333333333335
3
1
1000

In [15]:
# 대입연산자
a = 10
a += 1  # a = a + 1
# a는 11
print(a)

11

In [ ]:
a *= 2

print(a)

22

In [17]:
# 비교연산자 => 값을 비교하여 결과 True / False
data_1 = 'A'
data_2 = 'a'

print(data_1 == data_2)
print(data_1 != data_2)

False
True

# 제목1
## 제목2
### 제목3
#### 제목4

#### 리스트 형태 데이터
### 순서형 리스트
1. list1
2. list2
3. list3
3. list4

### 비순서형 리스트
- list1
- list2
- list3

#### 리스트 안에 리스트 생성
1. list1
    1. sub_list1
    2. sub_list2

### <자료형 데이터>
- 여러개의 데이터를 하나씩 변수에 저장시키는 형태
- R에서는 벡터데이터와 리스트 데이터

- tuple
    - 자료형 데이터에서 가장 기본적인 형태
    - 소괄호 ()를 이용해 데이터 생성
    - 한번 생성되면 수정이 불가능
- list
    - 대괄호 []를 이용해 데이터 생성
    - tuple과는 다르게 각 원소들을 수정, 추가, 삭제 가능
    - 위의 작업들은 list 안에 내장된 함수 이용 
    - 원소의 개수가 **0개**부터 생성 가능
- dict
    - 중괄호 {}를 이용해 데이터 생성
    - key : value 형태의 데이터 구조
    - tuple, list는 위치를 기준으로 데이터를 추출한다면, dict는 key를 기준으로 데이터 추출
    - 원소의 개수는 0개부터 생성 가능

In [18]:
# tuple 데이터 생성
# 원소 타입 달라고 생성 가능
tuple_a = (1, 'Hello')
tuple_b = (3, 3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))
print(type(tuple_b))

(1, 'Hello')
(3, 3.14)
<class 'tuple'>
<class 'tuple'>

In [19]:
# tuple에서 위치 기준 데이터 추출
# 파이썬에서는 위치가 0부터 시작
print(tuple_a[0])
print(tuple_b[1])

1
3.14

In [ ]:
# tuple끼리의 합
print(tuple_a+tuple_b)
# 두 튜플이 연결 => 새로운 튜플
print(type(tuple_a+tuple_b))

(1, 'Hello', 3, 3.14)
<class 'tuple'>

In [24]:
# list 데이터 생성
list_a = [20, 10, 30, 40]
list_b = ['abc', 'fi', 'be']
print(list_a)
print(list_b)
print(type(list_a))
print(type(list_b))

[20, 10, 30, 40]
['abc', 'fi', 'be']
<class 'list'>
<class 'list'>

In [ ]:
# list는 수정, 추가, 삭제 가능
# list의 내장함수
# 정렬을 변경 : sort() -> 기본 오름차수 정렬로 변경
# list(list_a) 안에(.) 있는 sort() 함수 호출
list_a.sort()
list_a
# [20, 10, 30, 40] -> [10, 20, 30, 40]으로 순서 변경(정렬)

[10, 20, 30, 40]

In [ ]:
# 내림차순 정렬
# sort() 함수에는 reverse 매개변수가 존재
# reverse = False가 기본값(오름차순)
# 내림차순 정렬 : sort(reverse = True)
list_b.sort(reverse=1)
list_b

['fi', 'be', 'abc']

In [ ]:
# 순서를 역순으로 변경하는 함수
# reverse()
list_a.reverse()

[40, 30, 20, 10]

In [36]:
list_a

[40, 30, 20, 10]

In [ ]:
# 리스트에 원소 추가하는 함수
# append() : 리스트의 마지막에 원소 추가
list_a.append(33)
# insert() : 특정 위치에 원소 추가
# insert(index, data)
list_a.insert(2, 15)

In [38]:
list_a

[40, 30, 15, 20, 10, 33]

In [39]:
# list에서 원소 제거하는 방법
# 가장 마지막 원소 제거 -> pop()
list_a.pop()

33

In [40]:
list_a

[40, 30, 15, 20, 10]

In [41]:
# list에서 특정 값을 제거 : remove(data)
list_a.remove(20)

In [42]:
list_a

[40, 30, 15, 10]

In [43]:
list_a.append(40)
list_a

[40, 30, 15, 10, 40]

In [ ]:
# 같은 값이 여러 개 있을 때 remove() 데이터 삭제
# 해당하는 여러 값 중 맨 처음 값만 제거
list_a.remove(40)

In [51]:
list_a

[30, 15, 10, 40]

In [52]:
# 특정 위치의 데이터 제거 : del
del list_a[2]
list_a

[30, 15, 40]

In [ ]:
# = 복사 -> 두 값이 같은 위치 : 한 리스트가 변경 시 =로 생성한 리스트도 똑같이 변경
list_a_clone = list_a

In [54]:
list_a

[30, 15, 40]

In [55]:
list_a_clone

[30, 15, 40]

In [ ]:
# list_a_clone 리스트에 값 55 추가 -> list_a 리스트에도 똑같이 55가 추가됨
list_a_clone.append(55)

In [58]:
list_a_clone

[30, 15, 40, 55]

In [59]:
list_a

[30, 15, 40, 55]

In [ ]:
# copy() : 복사
# list_a_copy 리스트는 list_a 리스트와 다른 주소에 생성
list_a_copy = list_a.copy()

In [61]:
list_a_copy

[30, 15, 40, 55]

In [ ]:
# copy 데이터 수정 => list_a_copy 리스트만 변경
list_a_copy.pop()

55

In [64]:
list_a_copy

[30, 15, 40]

In [65]:
list_a_clone

[30, 15, 40, 55]

In [ ]:
# index() : 특정 데이터의 위치 출력 함수
# 해당 데이터 존재X -> 에러 발생
list_a.index(15)

1

In [ ]:
list_a.index(50)    # 리스트에 찾는 값이 없음 -> Error

ValueError: 50 is not in list

In [ ]:
# 문자열에서는 찾는 데이터X => -1 반환
text_a = 'abcd'
text_a.find('e')

-1

In [ ]:
# sort() : 정렬을 오름차순으로 변경하고 데이터 저장
    # list에 내장된 함수
    # 리스트명.sort()
# sorted() : 리스트의 데이터를 오름차순으로 변경
    # 정렬된 순서가 저장되지는 않음
    # python base에서 제공하는 함수
    # sorted(리스트명)
sorted(list_a)

[15, 30, 40, 55]

In [72]:
list_a

[30, 15, 40, 55]

In [73]:
# dict 데이터 생성
# key : value 형태의 구조
dict_a = {
    'id' : 'test',
    'age' : 20,
    'phone' : '01012345678'
}

In [74]:
dict_a

{'id': 'test', 'age': 20, 'phone': '01012345678'}

In [78]:
# dict_a 데이터에서 20이라는 데이터를 추출하려면?
dict_a['age']

20

In [ ]:
# dict 데이터는 위치 대신 key값 기준으로 데이터 추출 
# 1이라는 key 존재X -> 아래의 경우는 Error 발생
dict_a[1]

KeyError: 1

In [83]:
# dict에 새로운 데이터 추가하려면 -> key : value 형태로 추가
dict_a['loc'] = 'seoul'

In [84]:
dict_a

{'id': 'test', 'age': 20, 'phone': '01012345678', 'loc': 'seoul'}

In [ ]:
# del 딕셔너리명[키값] => 해당 키값에 해당하는 key:value 모두 삭제
del dict_a['phone']

In [86]:
dict_a

{'id': 'test', 'age': 20, 'loc': 'seoul'}

In [87]:
# 일반적인 open api에서 데이터를 받아올 때
# DB에서 데이터를 가져올 때
sample_data = {
    'id' : ['test', 'test2', 'test3', 'test4'],
    'password' : ['1111', '2222', '3333', '4444'],
    'name' : ['Kim', 'Park', 'Lee', 'Choi']
}
sample_data

{'id': ['test', 'test2', 'test3', 'test4'],
 'password': ['1111', '2222', '3333', '4444'],
 'name': ['Kim', 'Park', 'Lee', 'Choi']}

In [88]:
print(sample_data)

{'id': ['test', 'test2', 'test3', 'test4'], 'password': ['1111', '2222', '3333', '4444'], 'name': ['Kim', 'Park', 'Lee', 'Choi']}

In [96]:
# sample_data의 type은 dict -> key값 이용해 추출
# 'Lee'는 name key값에 존재
print(sample_data['name'])
# sample_data['name']의 type은 list -> index 이용해 추출
# 'Lee' 문자열은 3번째 위치에 존재(index = 2)
print(sample_data['name'][2])

['Kim', 'Park', 'Lee', 'Choi']
Lee

In [ ]:
# list 데이터 내에 dict 데이터
sample_data2 = [
    {
        'id' : 'test',
        'password' : '1111',
        'name' : 'Kim'
    },
    {
        'id' : 'test2',
        'password' : '2222',
        'name' : 'Park'
    },
    {
        'id' : 'test3',
        'password' : '3333',
        'name' : 'Lee'
    }
]

In [98]:
print(sample_data2)

[{'id': 'test', 'password': '1111', 'name': 'Kim'}, {'id': 'test2', 'password': '2222', 'name': 'Park'}, {'id': 'test3', 'password': '3333', 'name': 'Lee'}]

In [ ]:
# sample_data2에서 test2 추출하려면
# test2는 sample_data2에서 index=1에 위치
# test2는 index=1의 딕셔너리에 'id'라는 key값에 위치
print(sample_data2[1]['id'])

test2

In [101]:
# dict 데이터에서 key 값들만 확인
sample_data.keys()

dict_keys(['id', 'password', 'name'])

In [102]:
# dict 데이터에서 value 값들만 확인
sample_data.values()

dict_values([['test', 'test2', 'test3', 'test4'], ['1111', '2222', '3333', '4444'], ['Kim', 'Park', 'Lee', 'Choi']])

In [ ]:
# dict 데이터에서 튜플(key, value) 형태로 데이터를 묶어 출력
# 3차원 데이터 => 괄호의 개수 = 차원
sample_data.items()

dict_items([('id', ['test', 'test2', 'test3', 'test4']), ('password', ['1111', '2222', '3333', '4444']), ('name', ['Kim', 'Park', 'Lee', 'Choi'])])

In [107]:
# 조건문
# 조건식이 참인 경우 실행할 코드와 거짓인 경우 실행할 코드를 나눠서 작성
# if ~ else문
a = 10
if (a > 5):
    # a가 5보다 큰 경우 실행할 코드
    print('a는 5보다 크다')
else:
    # a가 5보다 작거나 같은 경우 실행할 코드
    print('a는 5보다 작거나 같다')

print('프로그램 종료')

a는 5보다 크다
프로그램 종료

In [117]:
# 다중 조건문
# if ~ elif ~ else문
# int() : 데이터를 숫자로 변경
# input() : 데이터를 입력하는 공간을 생성하여 입력한 값을 문자로 되돌려준다
score = int( input('점수를 입력하시오: ') )
print('점수:',score)

if (score >= 90):
    print('A')
elif (score >= 80):
    print('B')
elif (score >= 70):
    print('C')
else:
    print('F')

점수: 75
C

In [ ]:
# 반복문
# for문
# for문의 기본 형태 => for i in range(시작값, 종료값, 증가값)
# range() 함수
# 시작값=0, 증가값=1이 기본값
# 종료값만 지정해도 됨
print(range(1, 10, 1))
print(
    list(
        range(1, 10, 1)
        )
    )

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
for i in range(1, 5, 1):
    # 몇 번 반복? => 4번 (1, 2, 3, 4)
    print(i)

1
2
3
4

In [124]:
for i in range(5):
    # 몇 번 반복? => 5번 (0, 1, 2, 3, 4)
    print('반복')

반복
반복
반복
반복
반복

In [125]:
tuple_data = (3, 6, 1)
list_data = [8, 5, 1]
dict_data = {
    'id' : 'test',
    'pass' : '1111'
}

In [126]:
for i in tuple_data:
    print(i)

3
6
1

In [127]:
for i in list_data:
    print(i)

8
5
1

In [138]:
# len() 함수 이용 -> list_data의 값들을 하나씩 출력
for i in range( len(list_data) ):
    # i에는 0, 1, 2 => list_data의 index값
    print(i, list_data[i])

0 8
1 5
2 1

In [135]:
for i in dict_data:
    # i에는 dict_data의 key값 대입
    print(i, dict_data[i])

id test
pass 1111

In [139]:
# while문
# 조건식이 거짓이 될 때까지 반복 실행하는 구문

# 초기값 지정
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [140]:
# 반복문 강제 종료 => break
for i in range(1, 100, 1):
    # i에는 1~99까지 1씩 증가하며 값 대입
    if i == 5:
        break
    print(i)

1
2
3
4

In [141]:
# 리스트 데이터는 원소의 개수 0개부터 생성 가능
# 1부터 100까지(range(1, 101, 1))의 숫자 중 3의 배수(3으로 나눴을 때 나머지=0)
# 하나의 리스트로 생성
list_data = []

for i in range(1, 101, 1):
    # 3의 배수 조건식
    if i % 3 == 0:
        list_data.append(i)
    
print(list_data)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [142]:
# 1부터 10까지의 합계

# 누적합을 할 수 있는 공간
result = 0

for i in range(1, 11, 1):
    result += i
print(result)

55

In [ ]:
# 1부터 10까지의 합계 => while문
# 누적합 0 
result = 0
# 초기값 1
i = 1
while i<11:
    result += i
    i += 1
print(result)
print(i)

55
11

In [144]:
# continue : 반복문으로 되돌아감
for i in range(1, 10, 1):
    # i는 1, 2, 3, 4, 5, 6, 7, 8, 9까지 대입
    if i < 5:
        # i가 5보다 작은 경우 continue 실행
        continue
    print(i)

5
6
7
8
9

In [146]:
# continue 사용해 1~100까지 숫자 중 3의 배수만 출력
list_data = []
for i in range(1, 101, 1):
    if i % 3 != 0:
        continue
    list_data.append(i)
    
print(list_data)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [147]:
# 2차원 리스트 데이터를 반복문 이용해 원소 출력
list_data2 = [
    [10, 20, 30, 40],
    [15, 25, 35, 45],
    [100, 200, 300, 400]
]

In [150]:
for i in list_data2:
    print(i)

[10, 20, 30, 40]
[15, 25, 35, 45]
[100, 200, 300, 400]

In [ ]:
# 다중 반복문

for i in list_data2:
    # i에 대입되는 값 -> list_data2의 첫번째, 두번째, 세번째 데이터
    # i의 데이터 타입 -> list 타입 => 반복문 사용 가능
    # print(i)
    for j in i:
        # j에 대입되는 값 -> i의 첫번째~마지막 하나씩 대입
        print(j)

10
20
30
40
15
25
35
45
100
200
300
400

In [ ]:
list_data = [30, 40, 20, 10]
list_data_sort = []

# 첫번째 원소(index=0)와 두번째 원소 비교 -> 세번째와 비교 -> 네번째와 비교
min_data = list_data[0]     # 첫째 원소가 가장 작은 데이터라고 가정

if min_data > list_data[1]:
    min_data = list_data[1]

if min_data > list_data[2]:
    min_data = list_data[2]

if min_data > list_data[3]:
    min_data = list_data[3]

list_data_sort.append(min_data)
list_data.remove(min_data)

print(list_data_sort)

['fi', 'be', 'abc']

In [173]:
list_data = [30, 40, 20, 10]
sort_data = []

while list_data:

    min_data = list_data[0]  

    for i in range(1, len(list_data), 1):
        if min_data > list_data[i]:
            min_data = list_data[i]

    # list_data에서 가장 작은 값을 sort_data에 추가
    sort_data.append(min_data)
    # list_data에서 가장 작은 값 제거
    list_data.remove(min_data)

print(sort_data)
print(list_data)

[10, 20, 30, 40]
[]

In [165]:
list_data = [30, 40, 20, 10]
sort_data = []

for i in range(len(list_data)):

    min_data = list_data[0]  

    for i in range(1, len(list_data), 1):
        if min_data > list_data[i]:
            min_data = list_data[i]

    # list_data에서 가장 작은 값을 sort_data에 추가
    sort_data.append(min_data)
    # list_data에서 가장 작은 값 제거
    list_data.remove(min_data)

    print("sort_data: ", sort_data)
    print("list_data: ", list_data)

sort_data:  [10]
list_data:  [30, 40, 20]
sort_data:  [10, 20]
list_data:  [30, 40]
sort_data:  [10, 20, 30]
list_data:  [40]
sort_data:  [10, 20, 30, 40]
list_data:  []

In [180]:
# 문자열 내장 함수
str_data = ' Hello world '
str_data

' Hello world '

In [181]:
# 문자를 모두 대문자로 변경 : upper()
str_data.upper()

' HELLO WORLD '

In [182]:
# 문자를 모두 소문자로 변경 : lower()
str_data.lower()

' hello world '

In [183]:
# 대문자 -> 소문자로, 소문자 -> 대문자로 변경 : swapcase()
str_data.swapcase()

' hELLO WORLD '

In [184]:
# 단어의 첫 글자만 대문자로 변경 : title()
str_data.title()

' Hello World '

In [185]:
'Hello' == 'hello'.title()

True

In [187]:
# strip() : 문자열 시작과 끝에 있는 공백 제거
# lstrip() : 문자열 왼쪽(시작)에 있는 공백 제거
# rstrip() : 문자열 오른쪽(끝)에 있는 공백 제거

str_data.strip()

'Hello world'

In [188]:
str_data.lstrip()

'Hello world '

In [189]:
str_data.rstrip()

' Hello world'

In [ ]:
print(str_data)
# 실제 출력에서는 공백이 잘 보이지 않음
# 확인하려면 드래그

 Hello world

In [ ]:
# strip() 함수에 인자 대입 -> 해당 문자 제거
price1 = '10$'
price2 = '20$'

print(price1 + price2)

10$20$

In [ ]:
# price을 숫자형 데이터로 변환 : int()
# price 내의 $ 문자 제거 -> price.strip('$')
int(price1.strip('$')) + int(price2.strip('$'))

30

In [ ]:
price = '10,000원'
price.strip('원')
# strip() 함수는 문자열 중간의 데이터 변경은 불가능
# 특정 문자를 찾아 다른 문자로 대체 : replace(특정 문자, 대체할 문자)
price.strip('원').replace(',', '')

'10000'

In [ ]:
int(price.strip('원').replace(',','')) + 1000

11000

In [209]:
item_1 = '상품A'
item_2 = '상 품 A'
item_3 = '상 품 a'

In [ ]:
# item_1과 item_2 그리고 item_3이 같다 라는 비교연산자 사용할 때 True 나오게 하려면?
# 모든 문자는 대문자로 변경 : upper()
# 문자열 사이의 공백 모두 제거 (공백 -> 빈텍스트로 대체) : replace()

item_1.upper().replace(' ', '') == item_2.upper().replace(' ', '') == item_3.upper().replace(' ', '')

True

In [219]:
item_3 = item_3.upper()
item_2 = item_2.replace(' ', '')
item_3 = item_3.replace(' ', '')

print(item_1 == item_2)
print(item_1 == item_3)

print(item_1 == item_2 == item_3)

True
True
True

In [220]:
# 문자열을 나눠주는 함수 : split()
# 문자열 공백 기준으로 문자 나눠줌 => 결과 list 형태

str_data = 'Hello World'
str_data.split()

['Hello', 'World']

In [224]:
str_data2 = 'ammbmmcmmd'
str_data2.split('mm')

['a', 'b', 'c', 'd']

In [239]:
sql_data = 'select * from table'
sql_data2 = 'SELECT * FROM table'
# sql_data가 select로 시작하는가? => ㅇㅇ

data = 'select'

In [243]:
for i in range(6):
    print(sql_data[i].lower() == sql_data2[i].lower())

True
True
True
True
True
True

In [240]:
# sql_data에서 첫번째 문자(index=0)부터 6번째 문자(7번째 전까지, index=6)까지 출력
sql_data[0:len(data)] == data

True

In [241]:
sql_data2[:len(data)].lower() == data

True

In [246]:
sql_data.split(' ')[0] == data

True

In [248]:
sql_data2.split(' ')[0].lower() == data

True

In [249]:
# 문자의 시작이 특정 문자와 같은가? : startswith() => 결과 T/F
sql_data.startswith(data)

True

In [ ]:
# 문자의 마지막이 특정 문자와 같은가? : endswith()
sql_data.endswith('table')

True

In [254]:
file_list = [
    '/csv/a.csv',
    '/csv/b.csv',
    '/csv/c.xlsx',
    '/csv/d.json'
]

In [256]:
# file_list에서 확장자가 csv인 파일만 출력?
for i in file_list:
    if i.endswith('csv'):
        print(i)

/csv/a.csv
/csv/b.csv