In [1]:
import pandas as pd

In [2]:
corona = pd.read_csv('../../csv/corona.csv')

In [3]:
corona.drop(['Unnamed: 0', 'seq'], axis=1, inplace=True)
corona.columns = ['등록일시', '총사망자', '총확진자', '기준일', '기준시간', '수정일시', '누적의심지', '누적확진율']

In [4]:
df = corona.copy()

In [7]:
df.sort_values(['등록일시'], inplace=True)
df.reset_index(drop=True, inplace=True)

In [8]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [9]:
datas = [0]

for i in range(1, len(df), 1):
    data = df.loc[i, '총사망자'] - df.loc[i-1, '총사망자']
    datas.append(data)

In [10]:
df['일일사망자'] = datas

In [11]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5

In [12]:
df['일일사망자2'] = (df['총사망자']-df['총사망자'].shift()).fillna(0)

In [13]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0

In [14]:
df['일일사망자3'] = df['총사망자'].diff().fillna(0)

In [15]:
df.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0

In [16]:
df.iloc[:, -3:]

     일일사망자  일일사망자2  일일사망자3
0        0     0.0     0.0
1        6     6.0     6.0
2        6     6.0     6.0
3        1     1.0     1.0
4        5     5.0     5.0
..     ...     ...     ...
815      9     9.0     9.0
816     20    20.0    20.0
817     21    21.0    21.0
818     20    20.0    20.0
819      6     6.0     6.0

[820 rows x 3 columns]

In [17]:
(df['일일사망자']==df['일일사망자2']).sum()

np.int64(820)

In [18]:
(df['일일사망자']==df['일일사망자3']).value_counts()

True    820
Name: count, dtype: int64

In [19]:
df.describe()

,총사망자,총확진자,기준일,누적의심지,누적확진율,일일사망자,일일사망자2,일일사망자3
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000

In [20]:
flag = df['일일사망자'] < 0

In [22]:
df.loc[flag, ]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자,일일사망자2,일일사망자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0

In [23]:
df.loc[444:448, ]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0

In [24]:
df.loc[445, '등록일시'] = '2021-05-31 00:00:00.000'

In [25]:
df.loc[444:448, ]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심지,누적확진율,일일사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0