### <상대 모멘텀>

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import os 
from glob import glob
import warnings

In [2]:
# 경고 메시지 출력 필터
warnings.filterwarnings('ignore')

In [ ]:
# 기준 년월 컬럼과 월별 수익률 컬럼을 생성하는 함수
# 매개변수 5개
	# 데이터프레임
	# ticker
	# 투자의 시작시간
	# 투자의 종료시간
	# 기준이 되는 컬럼
def create_1m_rtn(
		_df, 
		_ticker, 
		_start='2010-01-01', 
		_end=datetime.now(), 
		_col='Adj Close'):
	
	df = _df.copy()
	if 'Date' in df.columns:
		df.set_index('Date', inplace=True)
	df.index = pd.to_datetime(df.index)
	df = df.loc[_start : _end, [_col]]
	df['STD-YM'] = df.index.strftime('%Y-%m')
	df['1m_rtn'] = 0
	df['CODE'] = _ticker
	ym_list = df['STD-YM'].unique()
	return df, ym_list

In [ ]:
# 기준 년월 컬럼과 월별 수익률 컬럼을 생성하는 함수
# 매개변수 5개
	# 데이터프레임
	# ticker
	# 투자의 시작시간
	# 투자의 종료시간
	# 기준이 되는 컬럼
def create_1m_rtn(_df, _ticker, _start = '2010-01-01', _end = datetime.now(), _col = 'Adj Close'):
	
	# 복사본 생성
	df = _df.copy()
	# 'Date'가 컬럼에 존재하면 인덱스로 변환
	if 'Date' in df.columns:
		df.set_index('Date', inplace=True)
	# 인덱스를 시계열로 변환
	df.index = pd.to_datetime(df.index)
	
	# 투자의 시작시간과 종료시간으로 인덱스 필터링
	# 기준이 되는 컬럼으로 컬럼 필터링
	df = df.loc[_start : _end, [_col]]
	# 기준년월 컬럼 생성해 인덱스에서 년도-월 추출
	df['STD-YM'] = df.index.strftime('%Y-%m')
	# 월별 수익률 컬럼 생성
	df['1m_rtn'] = 0
	# ticker를 컬럼에 대입
	df['CODE'] = _ticker
	# 기준년월의 유니크값 생성
	ym_list = df['STD-YM'].unique()
	
	return df, ym_list

In [5]:
aapl = pd.read_csv('data/AAPL.csv')

In [6]:
aapl_df, ym_list = create_1m_rtn(aapl, 'AAPL')

In [7]:
aapl

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...,...
9710,2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
9711,2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
9712,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
9713,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
9714,2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [8]:
ym_list

array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
      dtype=object)

In [9]:
aapl_df.loc[ym_list[0], ].iloc[-1, 0] / aapl_df.loc[ym_list[1], ].iloc[0, 0]

np.float64(0.9862889302942967)

In [10]:
# 특정 위치의 파일 목록 로드 (파일명만)
os.listdir('./data')

['AAPL.csv',
 'AMZN.csv',
 'BND.csv',
 'GDX.csv',
 'GLD.csv',
 'GM.csv',
 'MSFT.csv',
 'SLV.csv',
 'SPY.csv',
 'USM.csv']

In [11]:
# 파일경로 + 파일명 로드
files = glob('./data/*.csv')

### 반복문 이용
1. data 폴더에 있는 파일 로드
2. create_1m_rtn() 함수에 대입 (데이터프레임, 파일명)
	- price_df, ym_list 변수에 대입
3. price_df를 새로운 데이터프레임(stock_df)에 단순 행결합
4. 기준년월의 유니크 값을 이용해 반복문 생성
	- 기준년월의 데이터를 이용해 인덱스 필터링해 월초, 월말의 데이터를 이용해 월별 수익률 계산
	- price_df에 월별 수익률 대입
	- price_df에 월말의 행을 새로운 데이터프레임(month_last_df)에 단순 행결합