# 변수
- 데이터를 저장하는 공간의 이름 (라벨링)
	- 데이터의 타입
		- 단일 데이터의 타입
			- 문자형
			- 숫자형
			- bool형
		- n차원 데이터
			- 튜플
			- 리스트
			- 딕셔너리
- 변수의 종류
	- 전역변수
		- 어디서든 사용 가능한 변수
	- 지역변수
		- 특정 영역에서만 사용 가능한 변수
		- 함수 내부에서 생성된 변수, 매개변수
	- 매개변수
		- 함수를 생성할때 입력값(인자)을 받아오기 위해 미리 만들어두는 공간의 이름
		- 기본값을 지정하면 인자를 따로 받지 않더라도 실행 가능
		- 인자의 개수가 가변인 경우에는 매개변수면 앞에 *를 붙여 변수 생성
		- 함수를 호출할때 리스트 형태의 데이터를 가변의 인자로 변경할 때 데이터 앞에 *를 붙이면 인자가 가변인 형태로 함수 실행
	- self 변수
		- 클래스 내부에서 사용 가능한 변수
			- 독립적인 변수의 의미는?
				- 같은 클래스를 여러 군데에서 사용하더라도, 각각의 독립적인 데이터를 가짐
		- 클래스 내부에서 self.변수명 이용해 생성
	- 클래스 변수
		- 동일한 클래스를 생성했을 때 공유가 가능한 변수
		- 클래스 내부에서 self. 붙이지 않은 변수
		- 클래스 변수의 데이터를 변경하려면 class명.변수명으로 변수를 선택해 데이터 변경

In [1]:
# 전역변수 생성
val_1 = 'test'
print(val_1)

test

In [2]:
# 지역변수 생성 (함수 내부에)
def func_1():
    var_2 = 1234
    # 지역변수를 함수 내부에서 호출
    print(var_2)

In [4]:
func_1()

1234

In [ ]:
# 지역변수는 함수 외부에서 호출 불가능
# print(var_2)
# 지역변수는 해당 함수의 호출이 끝나면 메모리에서 제거
# 이유 -> 메모리를 효율적으로 사용하기 위함

In [7]:
# 함수의 매개변수 생성
def func_2(_x, _y):
    # 매개변수 2개 -> 함수를 호출할때 입력값을 받아 결과를 생성하기 위함
    result = _x + _y
    # result -> 함수 내부에서 생성한 변수 : 지역변수
    return result
# return의 역할 -> 데이터를 되돌려주는 기능
# 함수의 결과 저장 위함

In [ ]:
# 함수 호출시 매개변수 개수와 인자 개수를 일치 : 일반적인 경우
func_2(10, 5)

15

In [ ]:
# return이있는 함수와 없는 함수의 차이
func_1_result = func_1()		# print 구문이 있으므로 결과 출력
func_2_result = func_2(1, 3)	# return 구문은 결과 따로 출력X

1234

In [ ]:
print(func_1_result)
# func_1_result -> return 데이터가 존재하지 않는 함수를 호출했기 때문에 변수에 저장되는 데이터X
print(func_2_result)
# func_2_result -> return 데이터가 존재하기 때문에 변수에 해당 데이터가 저장

None
4

In [11]:
# 전역변수 생성 방법 -> globals()를 이용해 전역변수 생성
# 이 방법은 반복문을 이용해 반복실행 될 때마다 전역변수를 생성할 때 사용
# globals() -> 데이터 타입은 dict
	# 특정 변수 이름을 추가할 때는 dict에 key:value를 추가하는 것처럼 사용
for i in range(5):
    # 전역변수를 생성해 i의 값을 전역변수에 대입
    globals()[f'for_var_{i}'] = i

In [12]:
for_var_0

0

In [13]:
for_var_3

3

# 제어문
- 조건문
	- if ~ else문
		- if 조건식 : 참인 경우 코드
		- else : 거짓인 경우 코드
- 반복문
	- for문
		- for 변수명 in range(시작값, 종료값, 증감값)
		- for 변수명 in n차원 데이터명
	- while문
		- while 조건식 : 반복 실행할 코드 \ln 증감식
	- conntinue
		- 반복문으로 되돌아간다
		- continue 밑의 코드들을 무시
	- break
		- 반복문을 강제로 종료

# 경로
- 절대경로
	- 절대적인 주솟값
	- 환경이 변하더라도 같은 위치를 의미
		- (ex)
			- window : c:/users/admin/document/a.txt
			- max : ~/user/user_name/Desktop/a.txt
			- web : https://www.google.com
- 상대경로
	- 상대적인 주솟값
	- 환경이 변할 때 위치도 변하는 것을 의미
		- ./ : 현재 작업중인 공간
		- ../ : 상위 디렉토리로 이동
		- 폴더명/ : 하위 디렉토리로 이동

In [15]:
import pandas as pd

In [ ]:
# 절대경로 이용해 파일 로드
df = pd.read_csv(r'C:\ubion\csv\AAPL.csv')

In [17]:
# 상대경로 이용해 파일 로드
df2 = pd.read_csv('../../csv/AAPL.csv')

In [18]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...,...
9710,2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
9711,2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
9712,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
9713,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
9714,2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [19]:
df2

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.410525,117258400.0
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.389106,43971200.0
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.360548,26432000.0
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.369472,21610400.0
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.380182,18362400.0
...,...,...,...,...,...,...,...
9710,2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
9711,2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
9712,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
9713,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
9714,2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

# 함수
- 행동 -> 음식 레시피
- 반복적으로 사용하는 코드를 하나로 묶어서 함수로 표현
- 코드 라인의 수를 줄이고 가독성이 올라가고 오류가 발생할 확률을 줄인다
- def 키워드를 이용해 함수 생성

# class
- 변수 + 함수의 모음
- 독립적인 데이터(self 변수)들을 미리 변수에 저장하고 해당하는 데이터를 함수를 이용해 데이터의 변경을 해주는 작업
- 상속이라는 개념 존재
	- 다른 class의 기능들을 해당 클래스에서 가져와 사용하기 위함
- class의 이름은 일반적으로 단어의 첫글자를 대문자로 생성

In [20]:
class Test_Class:
    # 생성자함수: class가 생성될 때 최초로 한번 호출되는 함수
    def __init__(self, _x, _y):
        # 독립변수들을 생성할때 주로 사용
        # self의 의미 -> 자기 자신 -> class가 생성된 위치를 의미
        self.x = _x
        self.y = _y
    def add(self):
        result = self.x + self.y
        return result
    def sub(self):
        result = self.x - self.y
        return result

In [21]:
class_1 = Test_Class(10, 5)
class_2 = Test_Class(20, 9)

In [22]:
class_1.add()

15

In [23]:
class_2.add()

29

In [25]:
class_1.add()

15

In [24]:
class_2.sub()

11

# pandas
- 외부의 데이터를 로드하는 함수 : read_xxx()
	- read_xxx(경로, encoding = 'utf-8', index_col = 인덱스로 사용할 컬럼)
		- encoding : 데이터에 한글이 존재하는 경우 종종 utf-8로 로드 불가능 -> 'cp949' or 'euc-kr'로 변경하여 로드
		- 파일의 경로 : 절대경로(read_html 함수 이용시), 상대경로 사용 가능
- Series class
	- 1차원 데이터의 형태
	- Series에는 적어도 2개의 변수 존재 (index, values)
- DataFrame class
	- 2차원 데이터의 형태
	- DataFrame에는 적어도 3개의 변수 존재 (index, columns, values)
	- Series 데이터들이 모인 2차원 데이터의 형태
- info()
	- 데이터 프레임의 정보를 출력하는 함수
	- 데이터의 크기 확인, 결측치 존재 유무 확인, 컬럼 구성 확인
- describe()
	- 통계요약 정보를 출력하는 함수
	- 각 컬럼별 수치형 데이터에서 통계량을 출력
	- 이상치의 존재 유무를 간단하게 파악
- rename()
	- 이름을 재지정하는 함수
	- 인덱스, 컬럼의 값 모두 변경 가능
	- 일반적으로 특정 컬럼의 이름을 변경할때 사용
	- 전체 컬럼의 이름을 변경할때는 rename() 함수보다는 DataFrame의 columns 변수의 데이터를 변경
		- df.columns = []
- shift(n)
	- 인덱스를 n만큼 이동시켜주는 함수
	- 전날의 데이터를 확인하거나 전월의 데이터를 확인하여 비교할 때 사용
- diff(n)
	- 인덱스를 n만큼 이동한 데이터와의 차이를 구하는 함수
- isna()
	- 데이터프레임에서 결측치의 존재 유무를 판단하는 함수
	- 결과값의 타입 bool
	- 결측치 개수 확인 -> isna().sum()
- isin(1차원데이터)
	- 1차원 데이터의 포함 여부를 판단하는 함수
	- 결과값의 타입 bool
- fillna()
	- 결측치를 다른 값으로 대체하는 함수
	- 특정 데이터를 인자로 사용하면 결측치가 해당 데이터로 대체됨
	- method 매개변수를 이용
		- ffill : 전 행의 데이터로 대체
		- bfill : 후 행의 데이터로 대체
- groupby()
	- 특정 컬럼의 데이터들을 같은 값들끼리 그룹화하여 나눠주는 함수
	- 연산 함수를 추가해 그룹화된 데이터프레임들을 결합하여 보여줄 수 있음
	- set_group() 함수를 이용해 그룹화된 특정 데이터프레임 호출 가능
- pivot_table()
	- 테이블을 재구조화하는 함수
	- 데이터프레임에서 인덱스, 컬럼, value, 연산식을 지정하여 테이블의 구조 변경하는 함수
- select_dtype()
	- 컬럼들의 목록 중 특정 dtype의 컬럼들의 데이터를 추출하기 위한 함수
- 데이터프레임 결합 함수
	- 유니언 결합(단순 결합)
		- concat()
			- 첫번째 인자 : 1차원 형태의 데이터(Series or DataFrame)들의 목록
			- axis : 행으로 결합할지 열로 결합할지
			- ignore_index : 결합되는 기준을 초기화 시킬것인지 (초기화시 0,1,2,3...)
			- pandas에 내장된 함수
	- 조인 결합(조건에 맞춰 열을 결합)
		- merge()
			- 특정 조건에 맞춰 열을 결합해주는 함수
				- 2개의 데이터프레임이 결합
			- on 매개변수 : 조건 (컬럼의 이름)
				- left_on, right_on -> 두 개의 데이터프레임에서 컬럼명이 다른 경우 사용
			- how 매개변수 : 조인 결합의 방식
				- inner, left, right, outer
			- 3개 이상의 데이터프레임을 조인결합하려면?
				- merge() 함수를 중복해 사용

In [1]:
pip list

Package                      Version
---------------------------- -----------
absl-py                      2.3.0
arch                         7.2.0
asttokens                    3.0.0
astunparse                   1.6.3
attrs                        25.3.0
autograd                     1.8.0
autograd-gamma               0.5.0
beautifulsoup4               4.13.4
blinker                      1.9.0
bs4                          0.0.2
certifi                      2025.4.26
cffi                         1.17.1
charset-normalizer           3.4.2
click                        8.1.8
cloudpickle                  3.1.1
colorama                     0.4.6
comm                         0.2.2
contourpy                    1.3.0
curl_cffi                    0.10.0
cycler                       0.12.1
datapungi_fed                0.3.1
DateTime                     5.5
debugpy                      1.8.14
decorator                    5.2.1
Deprecated                   1.2.18
ecos                         2.0.14
et_xmlfile                   2.0.0
exceptiongroup               1.3.0
executing                    2.2.0
filelock                     3.18.0
finance-datareader           0.9.96
Flask                        3.1.1
flatbuffers                  25.2.10
fonttools                    4.58.0
formulaic                    1.1.1
fredapi                      0.5.2
frozendict                   2.4.6
fsspec                       2025.5.1
full_fred                    0.1
gast                         0.6.0
git-filter-repo              2.47.0
google-pasta                 0.2.0
greenlet                     3.2.3
grpcio                       1.72.1
h11                          0.16.0
h5py                         3.13.0
html5lib                     1.1
idna                         3.10
imbalanced-learn             0.12.4
importlib_metadata           8.7.0
importlib_resources          6.5.2
iniconfig                    2.1.0
interface-meta               1.3.0
ipykernel                    6.29.5
ipython                      8.18.1
itsdangerous                 2.2.0
jedi                         0.19.2
Jinja2                       3.1.6
joblib                       1.5.1
jupyter_client               8.6.3
jupyter_core                 5.7.2
keras                        3.10.0
kiwisolver                   1.4.7
libclang                     18.1.1
lifelines                    0.30.0
lightgbm                     3.3.2
llvmlite                     0.43.0
lxml                         5.4.0
Markdown                     3.8
markdown-it-py               3.0.0
MarkupSafe                   3.0.2
matplotlib                   3.9.4
matplotlib-inline            0.1.7
mdurl                        0.1.2
ml_dtypes                    0.5.1
mpmath                       1.3.0
multipledispatch             1.0.0
multitasking                 0.0.11
namex                        0.1.0
narwhals                     1.42.1
nest-asyncio                 1.6.0
networkx                     3.2.1
numba                        0.60.0
numexpr                      2.10.2
numpy                        2.0.2
OpenDartReader               0.2.3
openpyxl                     3.1.5
opt_einsum                   3.4.0
optree                       0.16.0
osqp                         1.0.4
outcome                      1.3.0.post0
packaging                    25.0
pandas                       2.2.3
pandas-datareader            0.10.0
parso                        0.8.4
patsy                        1.0.1
peewee                       3.18.1
pillow                       11.2.1
pip                          25.1.1
platformdirs                 4.3.8
plotly                       6.1.2
pluggy                       1.6.0
prompt_toolkit               3.0.51
protobuf                     5.29.5
psutil                       7.0.0
pure_eval                    0.2.3
pycparser                    2.22
Pygments                     2.19.1
pykrx                        1.0.48
PyMySQL                      1.1.1
pyparsing                    3.2.3
pyperclip                    1.9.0
PySocks                      1.7.1
pytest                       8.4.0
pytest-html                  4.1.1
pytest-metadata              3.1.1
python-dateutil              2.9.0.post0
python-dotenv                1.1.0
pytorch-tabnet               4.1.0
pytz                         2025.2
pywin32                      310
PyYAML                       6.0.2
pyzmq                        26.4.0
requests                     2.32.3
requests-file                2.1.0
rich                         14.0.0
scikit-learn                 1.5.2
scikit-survival              0.23.1
scipy                        1.13.1
seaborn                      0.13.2
selenium                     4.33.0
setuptools                   58.1.0
shap                         0.48.0
six                          1.17.0
slicer                       0.0.8
sniffio                      1.3.1
sortedcontainers             2.4.0
soupsieve                    2.7
SQLAlchemy                   2.0.41
stack-data                   0.6.3
statsmodels                  0.14.4
sympy                        1.14.0
tensorboard                  2.19.0
tensorboard-data-server      0.7.2
tensorflow                   2.19.0
tensorflow-io-gcs-filesystem 0.31.0
termcolor                    3.1.0
threadpoolctl                3.6.0
tomli                        2.2.1
torch                        2.7.1
tornado                      6.5
tqdm                         4.67.1
traitlets                    5.14.3
trio                         0.30.0
trio-websocket               0.12.2
typing_extensions            4.13.2
tzdata                       2025.2
urllib3                      2.4.0
versioneer                   0.29
wcwidth                      0.2.13
webencodings                 0.5.1
websocket-client             1.8.0
websockets                   15.0.1
Werkzeug                     3.1.3
wget                         3.2
wheel                        0.45.1
wrapt                        1.17.2
wsproto                      1.2.0
xgboost                      2.1.4
xlrd                         2.0.1
xmltodict                    0.14.2
yfinance                     0.2.61
zipp                         3.21.0
zope.interface               7.2
Note: you may need to restart the kernel to use updated packages.

#

In [12]:
import pandas as pd